In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_json('scout_car.json', lines=True, orient=str)

In [3]:
df.head().T

,0,1,2,3,4
\nComfort & Convenience\n,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ...","[Air suspension, Armrest, Auxiliary heating, E...","[Air conditioning, Armrest, Automatic climate ..."
\nEntertainment & Media\n,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, CD player, Hands-free equipment, M..."
\nExtras\n,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]","[Alloy wheels, Sport seats, Voice Control]","[Alloy wheels, Sport package, Sport suspension..."
\nSafety & Security\n,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light...","[ABS, Alarm system, Central door lock with rem...","[ABS, Central door lock, Driver-side airbag, E..."
Availability,NaN,NaN,NaN,NaN,NaN
Available from,NaN,NaN,NaN,NaN,NaN
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
Body Color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]","[\n, Brown, \n]","[\n, Black, \n]"
Body Color Original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n],NaN,[\nMythosschwarz Metallic\n]
CO2 Emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n109 g CO2/km (comb)\n]
Consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],..."
Country version,NaN,NaN,NaN,NaN,[\nGermany\n]
Cylinders,[\n3\n],[\n4\n],NaN,[\n3\n],[\n3\n]
Displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]","[\n1,422 cc\n]","[\n1,422 cc\n]"
Drive chain,[\nfront\n],[\nfront\n],[\nfront\n],NaN,[\nfront\n]
Electricity consumption,NaN,NaN,NaN,NaN,NaN
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
Emission Label,NaN,[\n4 (Green)\n],[\n4 (Green)\n],NaN,NaN
First Registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]"
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]"
Full Service,"[\n, \n]",NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \n4 (Green)\n]"
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
Gears,NaN,[\n7\n],NaN,[\n6\n],NaN
Inspection new,"[\nYes\n, \nEuro 6\n]",NaN,NaN,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]"
Last Service Date,NaN,NaN,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN,NaN,NaN
Make,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n
Model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]"
Model Code,[\n0588/BDF\n],[\n0588/BCY\n],NaN,NaN,[\n0588/BDF\n]
Next Inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN,NaN,NaN
Non-smoking Vehicle,"[\n, \n]",NaN,NaN,"[\n, \n, \nEuro 6\n]","[\n, \n]"
Nr. of Doors,[\n5\n],[\n3\n],[\n4\n],[\n3\n],[\n5\n]
Nr. of Seats,[\n5\n],[\n4\n],[\n4\n],[\n4\n],[\n5\n]
Offer Number,[\nLR-062483\n],NaN,[\nAM-95365\n],NaN,[\nC1626\n]
Other Fuel Types,NaN,NaN,NaN,NaN,NaN
Paint Type,[\nMetallic\n],NaN,[\nMetallic\n],[\nMetallic\n],[\nMetallic\n]
Previous Owners,\n2\n,NaN,\n1\n,\n1\n,\n1\n
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]"
Upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]",NaN,"[\nCloth, Black\n]"
Warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]"
Weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN,"[\n1,195 kg\n]",NaN
body_type,Sedans,Sedans,Sedans,Sedans,Sedans
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa..."
hp,66 kW,141 kW,85 kW,66 kW,66 kW
kW,NaN,NaN,NaN,NaN,NaN
km,"56,013 km","80,000 km","83,450 km","73,000 km","16,200 km"
make_model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1
null,[],[],[],[],[]
prev_owner,2 previous owners,None,1 previous owner,1 previous owner,1 previous owner
price,15770,14500,14640,14500,16790
registration,01/2016,03/2017,02/2016,08/2016,05/2016
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,1.4 TDi Design S tronic,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
vat,VAT deductible,Price negotiable,VAT deductible,None,None

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):

Comfort & Convenience
          14999 non-null object

Entertainment & Media
          14545 non-null object

Extras
                         12957 non-null object

Safety & Security
              14937 non-null object
Availability                     635 non-null object
Available from                   272 non-null object
Body                             15859 non-null object
Body Color                       15322 non-null object
Body Color Original              12160 non-null object
CO2 Emission                     14111 non-null object
Consumption                      14013 non-null object
Country version                  7586 non-null object
Cylinders                        10239 non-null object
Displacement                     15423 non-null object
Drive chain                      9061 non-null object
Electricity consumption          137 non-null object
Emission Class                   12898 non-null object
Emission Label                   3985 non-null object
First Registration               14322 non-null object
Fuel                             15919 non-null object
Full Service                     8215 non-null object
Gearing Type                     15919 non-null object
Gears                            11207 non-null object
Inspection new                   3932 non-null object
Last Service Date                566 non-null object
Last Timing Belt Service Date    16 non-null object
Make                             15919 non-null object
Model                            15919 non-null object
Model Code                       4978 non-null object
Next Inspection                  3535 non-null object
Non-smoking Vehicle              7177 non-null object
Nr. of Doors                     15707 non-null object
Nr. of Seats                     14942 non-null object
Offer Number                     12744 non-null object
Other Fuel Types                 880 non-null object
Paint Type                       10147 non-null object
Previous Owners                  9279 non-null object
Type                             15917 non-null object
Upholstery                       12199 non-null object
Warranty                         10499 non-null object
Weight                           8945 non-null object
body_type                        15859 non-null object
description                      15919 non-null object
hp                               15919 non-null object
kW                               0 non-null float64
km                               15919 non-null object
make_model                       15919 non-null object
null                             15919 non-null object
prev_owner                       9091 non-null object
price                            15919 non-null int64
registration                     15919 non-null object
short_description                15873 non-null object
url                              15919 non-null object
vat                              11406 non-null object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [5]:
df.isnull().sum().sort_values(ascending=False)

kW                               15919
Last Timing Belt Service Date    15903
Electricity consumption          15782
Available from                   15647
Last Service Date                15353
Availability                     15284
Other Fuel Types                 15039
Next Inspection                  12384
Inspection new                   11987
Emission Label                   11934
Model Code                       10941
Non-smoking Vehicle               8742
Country version                   8333
Full Service                      7704
Weight                            6974
Drive chain                       6858
prev_owner                        6828
Previous Owners                   6640
Paint Type                        5772
Cylinders                         5680
Warranty                          5420
Gears                             4712
vat                               4513
Body Color Original               3759
Upholstery                        3720
Offer Number                      3175
Emission Class                    3021
\nExtras\n                        2962
Consumption                       1906
CO2 Emission                      1808
First Registration                1597
\nEntertainment & Media\n         1374
\nSafety & Security\n              982
Nr. of Seats                       977
\nComfort & Convenience\n          920
Body Color                         597
Displacement                       496
Nr. of Doors                       212
Body                                60
body_type                           60
short_description                   46
Type                                 2
Fuel                                 0
registration                         0
price                                0
null                                 0
make_model                           0
hp                                   0
km                                   0
Gearing Type                         0
description                          0
Model                                0
url                                  0
Make                                 0
dtype: int64

In [6]:
df.drop(["url", "kW", "null", "Offer Number", "Other Fuel Types", "Full Service", "Last Timing Belt Service Date"], axis=1, inplace=True)
# "prev_owner", "Body Color Original"

In [7]:
df = df.rename(columns={"\nExtras\n": "Extras", "\nEntertainment & Media\n": "Entertainment & Media", "\nSafety & Security\n": "Safety & Security",
                   "\nComfort & Convenience\n": "Comfort & Convenience"})

In [8]:
df.shape

(15919, 47)

In [9]:
# df.drop("price", axis=1).describe().T

# Cylinders (5680 NAN value)

In [10]:
df["Cylinders"]

0        [\n3\n]
1        [\n4\n]
2            NaN
3        [\n3\n]
4        [\n3\n]
5            NaN
6        [\n4\n]
7            NaN
8        [\n4\n]
9            NaN
10       [\n4\n]
11       [\n4\n]
12       [\n4\n]
13           NaN
14       [\n3\n]
15       [\n4\n]
16       [\n4\n]
17       [\n3\n]
18       [\n3\n]
19       [\n4\n]
20       [\n4\n]
21       [\n4\n]
22       [\n4\n]
23       [\n4\n]
24       [\n3\n]
25       [\n3\n]
26           NaN
27       [\n3\n]
28       [\n3\n]
29           NaN
          ...
15889    [\n4\n]
15890    [\n4\n]
15891    [\n4\n]
15892        NaN
15893    [\n4\n]
15894    [\n4\n]
15895    [\n4\n]
15896        NaN
15897    [\n4\n]
15898    [\n4\n]
15899    [\n4\n]
15900        NaN
15901    [\n4\n]
15902        NaN
15903        NaN
15904    [\n4\n]
15905        NaN
15906        NaN
15907        NaN
15908        NaN
15909        NaN
15910    [\n4\n]
15911    [\n4\n]
15912    [\n4\n]
15913    [\n4\n]
15914    [\n4\n]
15915    [\n4\n]
15916    [\n4\n]
15917    [\n4\n]
15918    [\n4\n]
Name: Cylinders, Length: 15919, dtype: object

In [ ]:
df['Cylinders'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4\n]    8105
NaN        5680
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n2\n]       2
[\n8\n]       2
[\n1\n]       1
Name: Cylinders, dtype: int64

In [ ]:
df['Cylinders'][0][0].split()[0]

'3'

In [ ]:
df['Cylinders'].apply(lambda x : x[0].split()[0] if type(x)==list else x)

0          3
1          4
2        NaN
3          3
4          3
        ...
15914      4
15915      4
15916      4
15917      4
15918      4
Name: Cylinders, Length: 15919, dtype: object

In [ ]:
df['Cylinders'] = df['Cylinders'].apply(lambda x : x[0].split()[0] if type(x)==list else x)

In [ ]:
df['Cylinders'].value_counts(dropna=False)

4      8105
NaN    5680
3      2104
5        22
6         3
2         2
8         2
1         1
Name: Cylinders, dtype: int64

In [ ]:
#for i in range(len(df)):
#    if type(df["Cylinders"][i]) == float:
#        df["Cylinders"][i] = ["\n0\n"]
#    
#for i in range(len(df)):
#    df["Cylinders"][i] = df["Cylinders"][i][0].split()[0]

In [ ]:
 #df["Cylinders"].apply(int)

# Body

In [ ]:
df["Body"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
NaN                          60
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: Body, dtype: int64

In [ ]:
df["body_type"].value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [ ]:
df.drop("Body", axis=1, inplace=True)

In [ ]:
print(df.shape)
df["body_type"]

(15919, 46)

0        Sedans
1        Sedans
2        Sedans
3        Sedans
4        Sedans
          ...
15914       Van
15915       Van
15916       Van
15917       Van
15918       Van
Name: body_type, Length: 15919, dtype: object

# make_model (no null value)

In [ ]:
df[ "make_model"].value_counts(dropna=False)

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

# body_type (60 null)

In [ ]:
df["body_type"].value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [ ]:
df.shape

(15919, 46)

# km (1024 NaN value)

In [11]:
df["km"][0].split()[0].replace(",", "")

'56013'

In [12]:
df["km"].apply(lambda x : x.split()[0].replace(",", "") if type(x)==str else x)

0         56013
1         80000
2         83450
3         73000
4         16200
5         63668
6         62111
7         14986
8         57000
9         16103
10        11300
11        26415
12        31600
13        45764
14        34914
15        27000
16         9752
17        28408
18        50280
19        13406
20        51160
21        15850
22        17000
23         9077
24         3000
25       115000
26        84029
27        67800
28        14556
29        22000
          ...
15889      4100
15890         -
15891        10
15892         2
15893        10
15894      4899
15895     16500
15896      5000
15897        10
15898        10
15899      5000
15900      8500
15901        10
15902         -
15903        10
15904        50
15905       500
15906        10
15907        50
15908        10
15909      3500
15910      8500
15911       100
15912         -
15913      1000
15914         -
15915      9900
15916        15
15917        10
15918         -
Name: km, Length: 15919, dtype: object

In [13]:
df["km"] = df["km"].apply(lambda x : x.split()[0].replace(",", "") if type(x)==str else x)

In [14]:
df[["km","make_model"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 2 columns):
km            15919 non-null object
make_model    15919 non-null object
dtypes: object(2)
memory usage: 248.8+ KB

In [15]:
df[df["km"]=="-"].shape

(1024, 47)

In [16]:
df.loc[df[df["km"]=="-"].index, "km"] = np.nan

In [17]:
df["km"].value_counts(dropna=False)

10        1045
NaN       1024
1          367
5          170
50         148
100        139
15         109
5000       104
20          61
3000        58
12          56
8000        49
45000       48
10000       47
25000       47
30000       47
18000       46
1000        46
19000       44
35000       44
15000       43
150         43
70000       43
6000        41
20000       40
40000       40
9000        38
7           38
80000       37
50000       36
          ...
125052       1
13494        1
98723        1
17866        1
12433        1
26212        1
41688        1
89563        1
13790        1
23528        1
207000       1
44638        1
34701        1
48717        1
25614        1
96464        1
12073        1
72783        1
24621        1
5334         1
27448        1
74893        1
92680        1
6999         1
31221        1
29586        1
8081         1
17043        1
22369        1
37064        1
Name: km, Length: 6690, dtype: int64

In [18]:
df[df["km"] == "0"].shape[0]

19

In [19]:
df[df["First Registration"].isnull()]["km"].value_counts(dropna=False).sort_values()

32084      1
497        1
89982      1
81800      1
3500       1
325        1
40         1
20768      1
60         1
5000       1
85000      1
142        1
4500       1
500        1
141        1
89692      1
784        1
77         1
6100       1
34164      1
68485      1
150        1
4307       1
19500      1
281        1
11000      1
11200      1
99         1
196        1
6          1
2          2
3000       2
22627      2
39962      2
250        3
4          3
25         3
30         3
9          4
3          4
7          7
12         8
100        8
50        10
8         11
11        12
0         19
15        21
20        32
5         58
1        146
10       369
NaN      838
Name: km, dtype: int64

In [20]:
df["km"].apply(lambda x : int(x) if type(x)!=float else x)

0         56013.0
1         80000.0
2         83450.0
3         73000.0
4         16200.0
5         63668.0
6         62111.0
7         14986.0
8         57000.0
9         16103.0
10        11300.0
11        26415.0
12        31600.0
13        45764.0
14        34914.0
15        27000.0
16         9752.0
17        28408.0
18        50280.0
19        13406.0
20        51160.0
21        15850.0
22        17000.0
23         9077.0
24         3000.0
25       115000.0
26        84029.0
27        67800.0
28        14556.0
29        22000.0
           ...
15889      4100.0
15890         NaN
15891        10.0
15892         2.0
15893        10.0
15894      4899.0
15895     16500.0
15896      5000.0
15897        10.0
15898        10.0
15899      5000.0
15900      8500.0
15901        10.0
15902         NaN
15903        10.0
15904        50.0
15905       500.0
15906        10.0
15907        50.0
15908        10.0
15909      3500.0
15910      8500.0
15911       100.0
15912         NaN
15913      1000.0
15914         NaN
15915      9900.0
15916        15.0
15917        10.0
15918         NaN
Name: km, Length: 15919, dtype: float64

In [21]:
df["km"] = df["km"].apply(lambda x : int(x) if type(x)!=float else x)

# Body Color (597 NaN)

In [ ]:
df["Body Color"]

0        [\n, Black, \n]
1          [\n, Red, \n]
2        [\n, Black, \n]
3        [\n, Brown, \n]
4        [\n, Black, \n]
              ...
15914     [\n, Grey, \n]
15915     [\n, Grey, \n]
15916    [\n, White, \n]
15917     [\n, Grey, \n]
15918     [\n, Grey, \n]
Name: Body Color, Length: 15919, dtype: object

In [ ]:
df[df["Body Color"].isnull()==True]["Body Color"]

70       NaN
122      NaN
150      NaN
195      NaN
198      NaN
        ...
15690    NaN
15785    NaN
15849    NaN
15854    NaN
15864    NaN
Name: Body Color, Length: 597, dtype: object

In [ ]:
df["Body Color"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
NaN                  597
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: Body Color, dtype: int64

In [ ]:
df["Body Color"].apply(lambda x : x[1] if type(x)==list else x)

0        Black
1          Red
2        Black
3        Brown
4        Black
         ...
15914     Grey
15915     Grey
15916    White
15917     Grey
15918     Grey
Name: Body Color, Length: 15919, dtype: object

In [ ]:
df["Body Color"] = df["Body Color"].apply(lambda x : x[1] if type(x)==list else x)

In [ ]:
df["Body Color"].value_counts(dropna=False)

Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
NaN        597
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: Body Color, dtype: int64

# Paint Type (5772 Nan)

In [ ]:
df[["Body Color", "Paint Type"]]

      Body Color      Paint Type
0          Black  [\nMetallic\n]
1            Red             NaN
2          Black  [\nMetallic\n]
3          Brown  [\nMetallic\n]
4          Black  [\nMetallic\n]
...          ...             ...
15914       Grey  [\nMetallic\n]
15915       Grey  [\nMetallic\n]
15916      White             NaN
15917       Grey             NaN
15918       Grey  [\nMetallic\n]

[15919 rows x 2 columns]

In [ ]:
df["Paint Type"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nMetallic\n]       9794
NaN                  5772
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: Paint Type, dtype: int64

In [ ]:
df["Paint Type"] = df["Paint Type"].apply(lambda x: x[0].split()[0] if type(x)==list else x)

In [ ]:
df["Paint Type"] = df["Paint Type"].apply(lambda x : "Perl_effect" if ((type(x)==str) & (x=="Perl")) else x)

In [ ]:
df["Paint Type"].value_counts(dropna=False)

Metallic       9794
NaN            5772
Uni/basic       347
Perl_effect       6
Name: Paint Type, dtype: int64

# Displacement (496 NaN)

In [ ]:
df["Displacement"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n1,598 cc\n]     4761
[\n999 cc\n]       2438
[\n1,398 cc\n]     1314
[\n1,399 cc\n]      749
[\n1,229 cc\n]      677
                   ...
[\n1,800 cc\n]        1
[\n140 cc\n]          1
[\n15,898 cc\n]       1
[\n1,686 cc\n]        1
[\n1,368 cc\n]        1
Name: Displacement, Length: 78, dtype: int64

In [ ]:
df["Displacement"].isnull().sum()

496

In [ ]:
df.loc[142,"Displacement"]

nan

In [ ]:
df["Displacement"].apply(lambda x : x[0].split()[0].replace(",", "") if type(x)==list else x)

0        1422
1        1798
2        1598
3        1422
4        1422
         ...
15914    1997
15915    1798
15916    1997
15917    1997
15918    1798
Name: Displacement, Length: 15919, dtype: object

In [ ]:
df["Displacement"] = df["Displacement"].apply(lambda x : x[0].split()[0].replace(",", "") if type(x)==list else x)

In [ ]:
df["Displacement"].value_counts(dropna=False)

1598     4761
999      2438
1398     1314
1399      749
1229      677
         ...
1496        1
1856        1
1333        1
16000       1
1580        1
Name: Displacement, Length: 78, dtype: int64

In [ ]:
df["Displacement"].isnull().sum()

496

# Country version (8333 Nan)

In [ ]:
df["Country version"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                     8333
[\nGermany\n]           4502
[\nItaly\n]             1038
[\nEuropean Union\n]     507
[\nNetherlands\n]        464
[\nSpain\n]              325
[\nBelgium\n]            314
[\nAustria\n]            208
[\nCzech Republic\n]      52
[\nPoland\n]              49
[\nFrance\n]              38
[\nDenmark\n]             33
[\nHungary\n]             28
[\nJapan\n]                8
[\nSlovakia\n]             4
[\nCroatia\n]              4
[\nSweden\n]               3
[\nRomania\n]              2
[\nBulgaria\n]             2
[\nSerbia\n]               1
[\nLuxembourg\n]           1
[\nSwitzerland\n]          1
[\nSlovenia\n]             1
[\nEgypt\n]                1
Name: Country version, dtype: int64

In [ ]:
df["Country version"] = df["Country version"].apply(lambda x: x[0].split()[0] if type(x)==list else x)

In [ ]:
df["Country version"].value_counts(dropna=False)

NaN            8333
Germany        4502
Italy          1038
European        507
Netherlands     464
Spain           325
Belgium         314
Austria         208
Czech            52
Poland           49
France           38
Denmark          33
Hungary          28
Japan             8
Croatia           4
Slovakia          4
Sweden            3
Bulgaria          2
Romania           2
Slovenia          1
Luxembourg        1
Serbia            1
Egypt             1
Switzerland       1
Name: Country version, dtype: int64

In [ ]:
df["Country version"] = df["Country version"].apply(lambda x : "European_Union" if ((type(x)==str) & (x=="European")) else x)
df["Country version"] = df["Country version"].apply(lambda x : "Czech_Republic" if ((type(x)==str) & (x=="Czech")) else x)

In [ ]:
df["Country version"].value_counts(dropna=False)

NaN               8333
Germany           4502
Italy             1038
European_Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech_Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Croatia              4
Slovakia             4
Sweden               3
Bulgaria             2
Romania              2
Serbia               1
Switzerland          1
Slovenia             1
Luxembourg           1
Egypt                1
Name: Country version, dtype: int64

# hp (88 Nan)

In [ ]:
df["hp"].value_counts(dropna=False).sort_values()

239 kW       1
132 kW       1
44 kW        1
163 kW       1
133 kW       1
          ...
110 kW    1112
100 kW    1308
81 kW     1402
66 kW     2122
85 kW     2542
Name: hp, Length: 81, dtype: int64

In [ ]:
df["hp"].unique()

array(['66 kW', '141 kW', '85 kW', '70 kW', '92 kW', '112 kW', '60 kW',
       '71 kW', '67 kW', '110 kW', '93 kW', '147 kW', '86 kW', '140 kW',
       '87 kW', '- kW', '81 kW', '82 kW', '135 kW', '132 kW', '100 kW',
       '96 kW', '162 kW', '150 kW', '294 kW', '228 kW', '270 kW',
       '137 kW', '9 kW', '133 kW', '77 kW', '101 kW', '78 kW', '103 kW',
       '1 kW', '74 kW', '118 kW', '84 kW', '88 kW', '80 kW', '76 kW',
       '149 kW', '44 kW', '51 kW', '55 kW', '52 kW', '63 kW', '40 kW',
       '65 kW', '75 kW', '125 kW', '120 kW', '184 kW', '239 kW', '121 kW',
       '143 kW', '191 kW', '89 kW', '195 kW', '127 kW', '122 kW',
       '154 kW', '155 kW', '104 kW', '123 kW', '146 kW', '90 kW', '53 kW',
       '54 kW', '56 kW', '164 kW', '4 kW', '163 kW', '57 kW', '119 kW',
       '165 kW', '117 kW', '115 kW', '98 kW', '168 kW', '167 kW'],
      dtype=object)

In [ ]:
df.loc[df[df["hp"]=="- kW"]["hp"].index, "hp"] = np.nan

In [ ]:
df["hp"].isnull().sum()

88

In [ ]:
df["hp"] = df["hp"].apply(lambda x : x.split()[0] if type(x)==str else x)

# Fuel  (should continue to work on it)

In [ ]:
df["Fuel"]

0                    [\n, Diesel (Particulate Filter), \n]
1                                       [\n, Gasoline, \n]
2                    [\n, Diesel (Particulate Filter), \n]
3                    [\n, Diesel (Particulate Filter), \n]
4                    [\n, Diesel (Particulate Filter), \n]
                               ...
15914                [\n, Diesel (Particulate Filter), \n]
15915    [\n, Super 95 / Super Plus 98 (Particulate Fil...
15916                                     [\n, Diesel, \n]
15917                                     [\n, Diesel, \n]
15918                                   [\n, Super 95, \n]
Name: Fuel, Length: 15919, dtype: object

In [ ]:
df["Fuel"].isnull().sum()

0

In [ ]:
df["Fuel"][15915]

['\n', 'Super 95 / Super Plus 98 (Particulate Filter)', '\n']

In [ ]:
df["Fuel"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Diesel (Particulate Filter), \n]                                                                                  4315
[\n, Super 95, \n]                                                                                                     3338
[\n, Gasoline, \n]                                                                                                     3175
[\n, Diesel, \n]                                                                                                       2984
[\n, Super 95 / Regular/Benzine 91, \n]                                                                                 424
                                                                                                                       ...
[\n, Super Plus 98 / Super E10 95, \n]                                                                                    1
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98, \n]       1
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95, \n]       1
[\n, Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98, \n]                                1
[\n, Domestic gas H, \n]                                                                                                  1
Name: Fuel, Length: 77, dtype: int64

In [ ]:
for i in range(df.shape[0]):
  df["Fuel"][i] = df["Fuel"][i][1]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df["Fuel"].value_counts(dropna=False)

Diesel (Particulate Filter)                                                                                  4315
Super 95                                                                                                     3338
Gasoline                                                                                                     3175
Diesel                                                                                                       2984
Super 95 / Regular/Benzine 91                                                                                 424
                                                                                                             ...
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98                                1
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98 / Regular/Benzine E10 91       1
Super 95 / Super E10 95 / Super Plus 98                                                                         1
Regular/Benzine E10 91 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98       1
Super Plus E10 98                                                                                               1
Name: Fuel, Length: 77, dtype: int64

In [ ]:
df[(df["Fuel"] == "Gasoline")]["price"].describe()

count     3175.000000
mean     16806.979528
std       8422.039727
min         13.000000
25%      10490.000000
50%      15200.000000
75%      20990.000000
max      74600.000000
Name: price, dtype: float64

In [ ]:
df[(df["Fuel"] == 'Gasoline (Particulate Filter)')]["price"].describe()

count       77.000000
mean     22003.311688
std       7248.696021
min       6990.000000
25%      16977.000000
50%      22900.000000
75%      24900.000000
max      53000.000000
Name: price, dtype: float64

In [ ]:
df[(df["Fuel"] == 'Diesel (Particulate Filter)')]["price"].describe()

count     4315.000000
mean     18099.712167
std       6991.618061
min        255.000000
25%      13500.000000
50%      16980.000000
75%      21479.000000
max      68320.000000
Name: price, dtype: float64

In [ ]:
df[(df["Fuel"] == 'Diesel')]["price"].describe()

count     2984.000000
mean     18283.753016
std       7263.364739
min       5250.000000
25%      13300.000000
50%      17492.500000
75%      21999.000000
max      56950.000000
Name: price, dtype: float64

In [ ]:
df["Fuel"].nunique()

77

In [ ]:
df[df["Fuel"] == 'Domestic gas H']

      make_model              short_description  ... Availability  Available from
6802  Opel Astra  K 1,4 CNG 5-tg Exclusive + WR  ...          NaN             NaN

[1 rows x 46 columns]

In [ ]:
fuel_types = []
for i in df["Fuel"].unique():
  fuel_types.append(i)
sorted(fuel_types)

['Biogas',
 'CNG',
 'CNG (Particulate Filter)',
 'Diesel',
 'Diesel (Particulate Filter)',
 'Domestic gas H',
 'Electric',
 'Electric/Gasoline',
 'Gasoline',
 'Gasoline (Particulate Filter)',
 'LPG',
 'Liquid petroleum gas (LPG)',
 'Others',
 'Others (Particulate Filter)',
 'Regular/Benzine 91',
 'Regular/Benzine 91 (Particulate Filter)',
 'Regular/Benzine 91 / Regular/Benzine E10 91',
 'Regular/Benzine 91 / Super 95',
 'Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91',
 'Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98',
 'Regular/Benzine 91 / Super 95 / Super E10 95',
 'Regular/Benzine 91 / Super 95 / Super E10 95 / Regular/Benzine E10 91',
 'Regular/Benzine 91 / Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91',
 'Regular/Benzine 91 / Super 95 / Super Plus 98',
 'Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98',
 'Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95',
 'Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91',
 'Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 (Particulate Filter)',
 'Regular/Benzine 91 / Super 95 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 / Super Plus 98',
 'Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98',
 'Regular/Benzine E10 91',
 'Regular/Benzine E10 91 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98',
 'Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Super 95 / Regular/Benzine 91',
 'Super 95',
 'Super 95 (Particulate Filter)',
 'Super 95 / Biodiesel',
 'Super 95 / Regular/Benzine 91',
 'Super 95 / Regular/Benzine 91 (Particulate Filter)',
 'Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98 / Regular/Benzine E10 91',
 'Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98',
 'Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91',
 'Super 95 / Regular/Benzine 91 / Super Plus 98',
 'Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98',
 'Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95',
 'Super 95 / Regular/Benzine E10 91',
 'Super 95 / Regular/Benzine E10 91 / Super E10 95',
 'Super 95 / Super E10 95',
 'Super 95 / Super E10 95 (Particulate Filter)',
 'Super 95 / Super E10 95 / Regular/Benzine 91',
 'Super 95 / Super E10 95 / Super Plus 98',
 'Super 95 / Super E10 95 / Super Plus E10 98',
 'Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98',
 'Super 95 / Super Plus 98',
 'Super 95 / Super Plus 98 (Particulate Filter)',
 'Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95 / Regular/Benzine 91',
 'Super 95 / Super Plus 98 / Super E10 95',
 'Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98',
 'Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)',
 'Super 95 / Super Plus 98 / Super Plus E10 98',
 'Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95',
 'Super E10 95',
 'Super E10 95 (Particulate Filter)',
 'Super E10 95 / Regular/Benzine 91',
 'Super E10 95 / Regular/Benzine 91 / Regular/Benzine E10 91 / Super 95',
 'Super E10 95 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98',
 'Super E10 95 / Super 95',
 'Super E10 95 / Super 95 / Super Plus 98',
 'Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98',
 'Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98 (Particulate Filter)',
 'Super E10 95 / Super Plus E10 98',
 'Super Plus 98',
 'Super Plus 98 / Regular/Benzine 91',
 'Super Plus 98 / Super 95 / Super E10 95',
 'Super Plus 98 / Super 95 / Super Plus E10 98',
 'Super Plus 98 / Super E10 95',
 'Super Plus E10 98',
 'Super Plus E10 98 / Super 95 / Super Plus 98 / Super E10 95']

In [ ]:
not_gasoline = ['Biogas', 'CNG', 'CNG (Particulate Filter)', 'Diesel', 'Diesel (Particulate Filter)', 'Domestic gas H', 'Electric',
 'Electric/Gasoline', 'Gasoline', 'Gasoline (Particulate Filter)', 'LPG', 'Liquid petroleum gas (LPG)', 'Others',
 'Others (Particulate Filter)']

for i in range(df.shape[0]):
  #if type(df["Fuel"][i]) == str:
  if (df["Fuel"][i] not in not_gasoline):
    df["Fuel"][i] = "Gasoline"
  elif df["Fuel"][i] == 'Gasoline (Particulate Filter)':
    df["Fuel"][i] = 'Gasoline'
  elif df["Fuel"][i] == 'Diesel (Particulate Filter)':
    df["Fuel"][i] = 'Diesel'
  elif df["Fuel"][i] == 'CNG (Particulate Filter)':
    df["Fuel"][i] = 'CNG'
  elif df["Fuel"][i] == 'Liquid petroleum gas (LPG)':
    df["Fuel"][i] = 'LPG'
  elif df["Fuel"][i] == 'Others (Particulate Filter)':
    df["Fuel"][i] = 'Others'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [ ]:
df['Fuel'].value_counts(dropna=False)

Gasoline             8545
Diesel               7299
CNG                    36
LPG                    26
Others                  6
Electric/Gasoline       4
Electric                1
Biogas                  1
Domestic gas H          1
Name: Fuel, dtype: int64

In [ ]:
df.loc[0]

make_model                                                           Audi A1
short_description                Sportback 1.4 TDI S-tronic Xenon Navi Klima
body_type                                                             Sedans
price                                                                  15770
vat                                                           VAT deductible
km                                                                     56013
registration                                                         01/2016
prev_owner                                                 2 previous owners
hp                                                                        66
Type                                 [, Used, , Diesel (Particulate Filter)]
Previous Owners                                                        \n2\n
Next Inspection                        [\n06/2021\n, \n99 g CO2/km (comb)\n]
Inspection new                                         [\nYes\n, \nEuro 6\n]
Warranty                                             [\n, \n, \n4 (Green)\n]
Non-smoking Vehicle                                                 [\n, \n]
Make                                                                \nAudi\n
Model                                                           [\n, A1, \n]
First Registration                                            [\n, 2016, \n]
Body Color                                                             Black
Paint Type                                                          Metallic
Body Color Original                                      [\nMythosschwarz\n]
Upholstery                                                [\nCloth, Black\n]
Nr. of Doors                                                         [\n5\n]
Nr. of Seats                                                         [\n5\n]
Model Code                                                    [\n0588/BDF\n]
Gearing Type                                             [\n, Automatic, \n]
Displacement                                                            1422
Cylinders                                                                  3
Weight                                                        [\n1,220 kg\n]
Drive chain                                                      [\nfront\n]
Fuel                                                                  Diesel
Consumption                [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
CO2 Emission                                        [\n99 g CO2/km (comb)\n]
Emission Class                                                  [\nEuro 6\n]
Comfort & Convenience      [Air conditioning, Armrest, Automatic climate ...
Entertainment & Media      [Bluetooth, Hands-free equipment, On-board com...
Extras                     [Alloy wheels, Catalytic Converter, Voice Cont...
Safety & Security          [ABS, Central door lock, Daytime running light...
description                [\n, Sicherheit:,  , Deaktivierung für Beifahr...
Emission Label                                                           NaN
Gears                                                                    NaN
Country version                                                          NaN
Electricity consumption                                                  NaN
Last Service Date                                                        NaN
Availability                                                             NaN
Available from                                                           NaN
Name: 0, dtype: object

In [ ]:
df[~((df["Fuel"] == "Diesel") | (df["Fuel"] == "Gasoline") | (df["Fuel"] == "LPG") | 
     (df["Fuel"] == "CNG"))][["make_model", "short_description", "Fuel", "First Registration", "hp", "Gearing Type"]]

          make_model  ...              Gearing Type
819          Audi A1  ...          [\n, Manual, \n]
2885         Audi A3  ...       [\n, Automatic, \n]
3356         Audi A3  ...  [\n, Semi-automatic, \n]
3612         Audi A3  ...  [\n, Semi-automatic, \n]
3615         Audi A3  ...  [\n, Semi-automatic, \n]
3617         Audi A3  ...  [\n, Semi-automatic, \n]
4003         Audi A3  ...       [\n, Automatic, \n]
5161         Audi A3  ...       [\n, Automatic, \n]
6802      Opel Astra  ...          [\n, Manual, \n]
10374     Opel Corsa  ...          [\n, Manual, \n]
11677  Opel Insignia  ...          [\n, Manual, \n]
13397   Renault Clio  ...       [\n, Automatic, \n]
14500   Renault Clio  ...          [\n, Manual, \n]

[13 rows x 6 columns]

In [ ]:
df.loc[819, "Fuel"] = "Diesel"
df.loc[2885, "Fuel"] = "Gasoline"
df.loc[4003, "Fuel"] = "Gasoline"
df.loc[6802, "Fuel"] = "CNG"
df.loc[5161, "Fuel"] = "CNG"
df.loc[14500, "Fuel"] ="Gasoline"
df.loc[11677, "Fuel"] = "Gasoline"
df.loc[10374, "Fuel"] = "Gasoline"

In [ ]:
df['Fuel'].value_counts(dropna=False)

Gasoline             8550
Diesel               7300
CNG                    38
LPG                    26
Electric/Gasoline       4
Electric                1
Name: Fuel, dtype: int64

# Type

In [ ]:
df["Type"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[, Used, , Diesel (Particulate Filter)]                                                                                  3475
[, Used, , Diesel]                                                                                                       2516
[, Used, , Gasoline]                                                                                                     2367
[, Used, , Super 95]                                                                                                     1818
[, Pre-registered, , Super 95]                                                                                            500
                                                                                                                         ...
[, Used, , Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Super 95 / Regular/Benzine 91]       1
[, Used, , Regular/Benzine E10 91 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98]       1
[, Employee's car, , Regular/Benzine 91 / Super 95 / Super E10 95]                                                          1
[, Pre-registered, , Biogas]                                                                                                1
[, Used, , Regular/Benzine 91 / Super 95 / Super Plus 98]                                                                   1
Name: Type, Length: 170, dtype: int64

In [ ]:
df["Type"].isnull().sum()

2

In [ ]:
df[df["Type"].isnull()].index

Int64Index([2765, 5237], dtype='int64')

In [ ]:
df[df["Type"].isnull()]["Type"]

2765    NaN
5237    NaN
Name: Type, dtype: object

In [ ]:
df["Type"].isnull().sum()

2

In [ ]:
df["Type"].apply(lambda x : len(x) if type(x)!=float else x).value_counts(dropna=False)

4.0    15917
NaN        2
Name: Type, dtype: int64

In [ ]:
df["Type"]

0                  [, Used, , Diesel (Particulate Filter)]
1                                     [, Used, , Gasoline]
2                  [, Used, , Diesel (Particulate Filter)]
3                  [, Used, , Diesel (Particulate Filter)]
4                  [, Used, , Diesel (Particulate Filter)]
                               ...
15914               [, New, , Diesel (Particulate Filter)]
15915    [, Used, , Super 95 / Super Plus 98 (Particula...
15916                         [, Pre-registered, , Diesel]
15917                         [, Pre-registered, , Diesel]
15918                        [, Demonstration, , Super 95]
Name: Type, Length: 15919, dtype: object

In [ ]:
for i in range(df.shape[0]):
  if type(df["Type"][i]) == list:
    del df["Type"][i][0], df["Type"][i][1]
  else:
    pass

In [ ]:
df["Type"]

0                      [Used, Diesel (Particulate Filter)]
1                                         [Used, Gasoline]
2                      [Used, Diesel (Particulate Filter)]
3                      [Used, Diesel (Particulate Filter)]
4                      [Used, Diesel (Particulate Filter)]
                               ...
15914                   [New, Diesel (Particulate Filter)]
15915    [Used, Super 95 / Super Plus 98 (Particulate F...
15916                             [Pre-registered, Diesel]
15917                             [Pre-registered, Diesel]
15918                            [Demonstration, Super 95]
Name: Type, Length: 15919, dtype: object

In [ ]:
df["Type"][0][0].split()[0] + "," + df["Type"][0][1]

'Used,Diesel (Particulate Filter)'

In [ ]:
df["Type"] = df["Type"].apply(lambda x : x[0].split()[0] + "," + x[1] if type(x) != float else x )

In [ ]:
df["Type"].value_counts(dropna=False)

Used,Diesel (Particulate Filter)                                                                                  3475
Used,Diesel                                                                                                       2516
Used,Gasoline                                                                                                     2367
Used,Super 95                                                                                                     1818
Pre-registered,Super 95                                                                                            500
                                                                                                                  ...
Used,Super 95 / Super E10 95 / Super Plus 98                                                                         1
Demonstration,Gasoline (Particulate Filter)                                                                          1
Used,Super 95 / Regular/Benzine E10 91                                                                               1
Demonstration,Super Plus 98 / Super 95 / Super E10 95                                                                1
Used,Super E10 95 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98       1
Name: Type, Length: 170, dtype: int64

In [ ]:
df[["Type", "Fuel"]]

                                                    Type      Fuel
0                       Used,Diesel (Particulate Filter)    Diesel
1                                          Used,Gasoline  Gasoline
2                       Used,Diesel (Particulate Filter)    Diesel
3                       Used,Diesel (Particulate Filter)    Diesel
4                       Used,Diesel (Particulate Filter)    Diesel
...                                                  ...       ...
15914                    New,Diesel (Particulate Filter)    Diesel
15915  Used,Super 95 / Super Plus 98 (Particulate Fil...  Gasoline
15916                              Pre-registered,Diesel    Diesel
15917                              Pre-registered,Diesel    Diesel
15918                             Demonstration,Super 95  Gasoline

[15919 rows x 2 columns]

In [ ]:
df["Type"][0].split(",")[1] == df["Fuel"][0]

False

In [ ]:
for i in range(df.shape[0]):
  if type(df["Type"][i]) != float and type(df["Fuel"][i]) != float:
    if df["Type"][i].split(",")[1] != df["Fuel"][i]:
      print("not equal")

Görüntülenen çıkış son 5000 satıra kısaltıldı.
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal
not equal

In [ ]:
df["Type"].apply(lambda x: x.split(",")[0] if type(x)==str else x)

0                  Used
1                  Used
2                  Used
3                  Used
4                  Used
              ...
15914               New
15915              Used
15916    Pre-registered
15917    Pre-registered
15918     Demonstration
Name: Type, Length: 15919, dtype: object

In [ ]:
df["Type"] = df["Type"].apply(lambda x: x.split(",")[0] if type(x)==str else x)

In [ ]:
df["Type"].str.get_dummies()

       Demonstration  Employee's  New  Pre-registered  Used
0                  0           0    0               0     1
1                  0           0    0               0     1
2                  0           0    0               0     1
3                  0           0    0               0     1
4                  0           0    0               0     1
...              ...         ...  ...             ...   ...
15914              0           0    1               0     0
15915              0           0    0               0     1
15916              0           0    0               1     0
15917              0           0    0               1     0
15918              1           0    0               0     0

[15919 rows x 5 columns]

# Drive chain (6858 NaN value)

In [ ]:
df["Drive chain"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nfront\n]    8886
NaN            6858
[\n4WD\n]       171
[\nrear\n]        4
Name: Drive chain, dtype: int64

In [ ]:
df["Drive chain"] = df["Drive chain"].apply(lambda x : x[0].split()[0] if type(x)==list else x )

In [ ]:
df["Drive chain"].value_counts(dropna=False)

front    8886
NaN      6858
4WD       171
rear        4
Name: Drive chain, dtype: int64

# Make, Model dropped bacuse same with make_model

In [ ]:
df[["make_model", "Make", "Model"]]

           make_model         Make             Model
0             Audi A1     \nAudi\n      [\n, A1, \n]
1             Audi A1     \nAudi\n      [\n, A1, \n]
2             Audi A1     \nAudi\n      [\n, A1, \n]
3             Audi A1     \nAudi\n      [\n, A1, \n]
4             Audi A1     \nAudi\n      [\n, A1, \n]
...               ...          ...               ...
15914  Renault Espace  \nRenault\n  [\n, Espace, \n]
15915  Renault Espace  \nRenault\n  [\n, Espace, \n]
15916  Renault Espace  \nRenault\n  [\n, Espace, \n]
15917  Renault Espace  \nRenault\n  [\n, Espace, \n]
15918  Renault Espace  \nRenault\n  [\n, Espace, \n]

[15919 rows x 3 columns]

In [ ]:
df[["make_model", "Make", "Model"]].isnull().sum()

make_model    0
Make          0
Model         0
dtype: int64

In [ ]:
df["make_model"].value_counts(dropna=False)

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [ ]:
df["Make"].value_counts(dropna=False)

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

In [ ]:
df["Model"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: Model, dtype: int64

In [ ]:
df.groupby("Make")[["Model", "make_model"]].describe()

            Model                             ... make_model
            count unique                 top  ...     unique            top  freq
Make                                          ...
\nAudi\n     5712      3        [\n, A3, \n]  ...          3        Audi A3  3097
\nOpel\n     7343      3  [\n, Insignia, \n]  ...          3  Opel Insignia  2598
\nRenault\n  2864      3      [\n, Clio, \n]  ...          3   Renault Clio  1839

[3 rows x 8 columns]

In [ ]:
df.drop(["Make", "Model"], axis=1, inplace=True)

In [ ]:
df.shape

(15919, 44)

# Weight (6974 NaN value)

In [ ]:
df["Weight"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN               6974
[\n1,163 kg\n]     574
[\n1,360 kg\n]     356
[\n1,165 kg\n]     301
[\n1,335 kg\n]     242
                  ...
[\n1,030 kg\n]       1
[\n1,206 kg\n]       1
[\n1,492 kg\n]       1
[\n1,057 kg\n]       1
[\n1,939 kg\n]       1
Name: Weight, Length: 435, dtype: int64

In [ ]:
df["Weight"][0][0].split()[0].replace(",", "")

'1220'

In [ ]:
df["Weight"].apply(lambda x: x[0].split()[0].replace(",", "") if type(x)==list else x)

0        1220
1        1255
2         NaN
3        1195
4         NaN
         ...
15914    1758
15915    1708
15916     NaN
15917    1758
15918    1685
Name: Weight, Length: 15919, dtype: object

In [ ]:
df["Weight"] = df["Weight"].apply(lambda x: x[0].split()[0].replace(",", "") if type(x)==list else x)

In [ ]:
df["Weight"].value_counts(dropna=False)

NaN     6974
1163     574
1360     356
1165     301
1335     242
        ...
1150       1
1017       1
1302       1
1791       1
1366       1
Name: Weight, Length: 435, dtype: int64

# Emission Class (3628 NaN)

In [ ]:
df["Emission Class"]

0              [\nEuro 6\n]
1              [\nEuro 6\n]
2              [\nEuro 6\n]
3              [\nEuro 6\n]
4              [\nEuro 6\n]
                ...
15914                   NaN
15915                   NaN
15916    [\nEuro 6d-TEMP\n]
15917          [\nEuro 6\n]
15918          [\nEuro 6\n]
Name: Emission Class, Length: 15919, dtype: object

In [ ]:
df["Emission Class"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nEuro 6\n]          10139
NaN                    3021
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: Emission Class, dtype: int64

In [ ]:
df["Emission Class"][124]

[[], [], []]

In [ ]:
type(df["Emission Class"][124])

list

In [ ]:
(df["Emission Class"][0])

['\nEuro 6\n']

In [ ]:
type(df["Emission Class"][0])

list

In [ ]:
df["Emission Class"][170]

nan

In [ ]:
type(df["Emission Class"][170]) #nan

float

In [ ]:
df["Emission Class"][124] == [[], [], []]

True

In [ ]:
for i in range(df.shape[0]):
  if df["Emission Class"][i] == [[], [], []]:
    df["Emission Class"][i] = np.nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df["Emission Class"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nEuro 6\n]          10139
NaN                    3628
[\nEuro 6d-TEMP\n]     1845
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: Emission Class, dtype: int64

In [ ]:
df["Emission Class"] = df["Emission Class"].apply(lambda x: x[0] if type(x)==list else x).replace(r"\n","",regex=True)

In [ ]:
df["Emission Class"].value_counts(dropna=False)

Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: Emission Class, dtype: int64

# Nr. of Doors (212 NaN value)

In [ ]:
df["Nr. of Doors"].isnull().sum()

212

In [ ]:
df["Nr. of Doors"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
NaN          212
[\n7\n]        1
[\n1\n]        1
Name: Nr. of Doors, dtype: int64

In [ ]:
df["Nr. of Doors"].apply(lambda x: int(x[0].split()[0]) if type(x)==list else x)

0        5.0
1        3.0
2        4.0
3        3.0
4        5.0
        ...
15914    5.0
15915    5.0
15916    5.0
15917    5.0
15918    5.0
Name: Nr. of Doors, Length: 15919, dtype: float64

In [ ]:
df["Nr. of Doors"] = df["Nr. of Doors"].apply(lambda x: int(x[0].split()[0]) if type(x)==list else x)

In [ ]:
df['Nr. of Doors'].value_counts(dropna=False)

5.0    11575
4.0     3079
3.0      832
2.0      219
NaN      212
7.0        1
1.0        1
Name: Nr. of Doors, dtype: int64

# Nr. of Seats (977 NaN)

In [ ]:
df["Nr. of Seats"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    13336
[\n4\n]     1125
NaN          977
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: Nr. of Seats, dtype: int64

In [ ]:
df["Nr. of Seats"].apply(lambda x: int(x[0].split()[0]) if type(x)==list else x)

0        5.0
1        4.0
2        4.0
3        4.0
4        5.0
        ...
15914    5.0
15915    5.0
15916    7.0
15917    7.0
15918    5.0
Name: Nr. of Seats, Length: 15919, dtype: float64

In [ ]:
df["Nr. of Seats"] = df["Nr. of Seats"].apply(lambda x: int(x[0].split()[0]) if type(x)==list else x)

In [ ]:
df['Nr. of Seats'].value_counts(dropna=False)

5.0    13336
4.0     1125
NaN      977
7.0      362
2.0      116
6.0        2
3.0        1
Name: Nr. of Seats, dtype: int64

# First Registration (1597 NaN)

In [ ]:
df["First Registration"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
NaN               1597
Name: First Registration, dtype: int64

In [ ]:
df["First Registration"] = df["First Registration"].apply(lambda x: x[1] if type(x)==list else x)

In [ ]:
df["First Registration"].value_counts(dropna=False)

2018    4522
2016    3674
2017    3273
2019    2853
NaN     1597
Name: First Registration, dtype: int64

In [ ]:
df[df["km"] < 100]["First Registration"].value_counts(dropna=False)

2019    1448
NaN      717
2018     187
2017       9
2016       3
Name: First Registration, dtype: int64

In [ ]:
df.groupby([df[df["First Registration"].isnull()]["make_model"]])["km"].describe()

                count         mean           std  ...   50%   75%      max
make_model                                        ...
Audi A1          97.0   705.505155   3445.292792  ...  10.0  10.0  22627.0
Audi A3         193.0     9.663212     11.765307  ...  10.0  10.0    100.0
Opel Astra      107.0  1441.981308  10502.795581  ...   5.0  10.0  85000.0
Opel Corsa      108.0  2327.888889  10558.416950  ...  10.0  10.0  81800.0
Opel Insignia   137.0   793.189781   7750.156705  ...  10.0  10.0  89982.0
Renault Clio     75.0  1269.106667  10356.476031  ...  10.0  10.0  89692.0
Renault Duster    0.0          NaN           NaN  ...   NaN   NaN      NaN
Renault Espace   42.0   700.714286   3135.964210  ...  10.0  11.0  19500.0

[8 rows x 8 columns]

In [ ]:
df.groupby([df["First Registration"].isnull()])["km"].describe()

                      count          mean  ...      75%       max
First Registration                         ...
False               14136.0  35912.490874  ...  51485.0  317000.0
True                  759.0    934.496706  ...     10.0   89982.0

[2 rows x 8 columns]

# Gearing Type

In [ ]:
df["Gearing Type"]

0        [\n, Automatic, \n]
1        [\n, Automatic, \n]
2        [\n, Automatic, \n]
3        [\n, Automatic, \n]
4        [\n, Automatic, \n]
                ...
15914    [\n, Automatic, \n]
15915    [\n, Automatic, \n]
15916    [\n, Automatic, \n]
15917    [\n, Automatic, \n]
15918    [\n, Automatic, \n]
Name: Gearing Type, Length: 15919, dtype: object

In [ ]:
df["Gearing Type"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: Gearing Type, dtype: int64

In [ ]:
df["Gearing Type"] = df["Gearing Type"].apply(lambda x: x[1] if type(x)==list else x)

In [ ]:
df["Gearing Type"].value_counts(dropna=False)

Manual            8153
Automatic         7297
Semi-automatic     469
Name: Gearing Type, dtype: int64

# Emission Label 11974 Nan

In [ ]:
#df.to_json("scout_car_V12.json")

In [ ]:
# df = pd.read_json('/content/drive/MyDrive/Colab Notebooks/scout_car_V12.json', lines=True)

In [ ]:
df["Emission Label"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                     11934
[\n4 (Green)\n]          3553
[\n1 (No sticker)\n]      381
[[], [], []]               40
[\n5 (Blue)\n]              8
[\n3 (Yellow)\n]            2
[\n2 (Red)\n]               1
Name: Emission Label, dtype: int64

In [ ]:
for i in range(df.shape[0]):
  if df["Emission Label"][i] == [[], [], []]:
    df["Emission Label"][i] = np.nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df["Emission Label"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                     11974
[\n4 (Green)\n]          3553
[\n1 (No sticker)\n]      381
[\n5 (Blue)\n]              8
[\n3 (Yellow)\n]            2
[\n2 (Red)\n]               1
Name: Emission Label, dtype: int64

In [ ]:
df["Emission Label"][1][0].split()[0] + "," + df["Emission Label"][1][0].split()[1]

'4,(Green)'

In [ ]:
df["Emission Label"] = df["Emission Label"].apply(lambda x : x[0].split()[0] + "," + x[0].split()[1] if type(x) != float else x )

In [ ]:
df["Emission Label"].value_counts(dropna=False)

NaN           11974
4,(Green)      3553
1,(No           381
5,(Blue)          8
3,(Yellow)        2
2,(Red)           1
Name: Emission Label, dtype: int64

In [ ]:
df[df["Emission Label"] == "1,(No"].index

Int64Index([   19,    81,    95,   139,   141,   197,   201,   247,   261,
              371,
            ...
            15102, 15158, 15225, 15249, 15253, 15254, 15255, 15259, 15287,
            15813],
           dtype='int64', length=381)

In [ ]:
df.loc[df[df["Emission Label"] == "1,(No"].index, "Emission Label"] = "1,(NoSticker)"

In [ ]:
df["Emission Label"].value_counts(dropna=False)

NaN              11974
4,(Green)         3553
1,(NoSticker)      381
5,(Blue)             8
3,(Yellow)           2
2,(Red)              1
Name: Emission Label, dtype: int64

# Gears 4712 Nan

In [ ]:
df["Gears"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n6\n]     5822
NaN         4712
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n4\n]        2
[\n3\n]        2
[\n1\n]        2
[\n50\n]       1
[\n2\n]        1
Name: Gears, dtype: int64

In [ ]:
df["Gears"] = df["Gears"].apply(lambda x : x[0].split()[0] if type(x)==list else x)

In [ ]:
df["Gears"].value_counts(dropna=False)

6      5822
NaN    4712
5      3239
7      1908
8       224
9         6
1         2
4         2
3         2
2         1
50        1
Name: Gears, dtype: int64

# Previous Owners 6640 NaN

In [22]:
df["Previous Owners"].value_counts(dropna=False)

\n1\n                                                                                        8101
NaN                                                                                          6640
\n2\n                                                                                         766
\n0\n                                                                                         163
\n3\n                                                                                          17
[\n1\n, \n168 g CO2/km (comb)\n]                                                               13
[\n1\n, \n139 g CO2/km (comb)\n]                                                               12
[\n1\n, \n110 g CO2/km (comb)\n]                                                               12
[\n1\n, \n135 g CO2/km (comb)\n]                                                                9
[\n1\n, \n120 g CO2/km (comb)\n]                                                                8
[\n1\n, \n, 6.3 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 5.4 l/100 km (country), \n]       7
[\n1\n, \n153 g CO2/km (comb)\n]                                                                6
[\n1\n, \n113 g CO2/km (comb)\n]                                                                5
[\n1\n, \n114 g CO2/km (comb)\n]                                                                5
[\n1\n, \n140 g CO2/km (comb)\n]                                                                5
[\n1\n, \n107 g CO2/km (comb)\n]                                                                5
[\n1\n, \n127 g CO2/km (comb)\n]                                                                4
[\n1\n, \n128 g CO2/km (comb)\n]                                                                4
[\n1\n, \n, 6 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 4.9 l/100 km (country), \n]         4
[\n0\n, \n139 g CO2/km (comb)\n]                                                                4
[\n0\n, \n114 g CO2/km (comb)\n]                                                                3
[\n1\n, \n124 g CO2/km (comb)\n]                                                                3
[\n1\n, \n147 g CO2/km (comb)\n]                                                                3
[\n1\n, \n129 g CO2/km (comb)\n]                                                                3
[\n1\n, \n136 g CO2/km (comb)\n]                                                                3
[\n1\n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       3
[\n1\n, \n150 g CO2/km (comb)\n]                                                                3
[\n1\n, \n123 g CO2/km (comb)\n]                                                                3
[\n1\n, \n149 g CO2/km (comb)\n]                                                                3
[\n1\n, \n119 g CO2/km (comb)\n]                                                                3
                                                                                             ...
[\n0\n, \n105 g CO2/km (comb)\n]                                                                1
[\n2\n, \n123 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.8 l/100 km (comb), \n, 8.7 l/100 km (city), \n, 5.7 l/100 km (country), \n]       1
[\n1\n, \n125 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.7 l/100 km (comb), \n, 8.6 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n1\n, \n188 g CO2/km (comb)\n]                                                                1
[\n1\n, \n0 g CO2/km (comb)\n]                                                                  1
[\n1\n, \n, 5.9 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 4.8 l/100 km (country), \n]       1
[\n1\n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]           1
[\n1\n, \n, 6.6 l/100 km (comb), \n, 8.2 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n0\n, \n, 6.6 l/100 km (comb), \n, 8.2 l/100 km (city), \n, 5.7 l/100 km (country), \n]       1
[\n1\n, \n, 6.6 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.7 l/100 km (country), \n]       1
[\n1\n, \n, 5.6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n1\n, \n84 g CO2/km (comb)\n]                                                                 1
[\n1\n, \n142 g CO2/km (comb)\n]                                                                1
[\n2\n, \n137 g CO2/km (comb)\n]                                                                1
[\n1\n, \n137 g CO2/km (comb)\n]                                                                1
[\n1\n, \n159 g CO2/km (comb)\n]                                                                1
[\n0\n, \n187 g CO2/km (comb)\n]                                                                1
[\n1\n, \n141 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 5.9 l/100 km (comb), \n, 7.4 l/100 km (city), \n, 5 l/100 km (country), \n]         1
[\n1\n, \n, 6.5 l/100 km (comb), \n, 8.5 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
[\n1\n, \n134 g CO2/km (comb)\n]                                                                1
[\n1\n, \n104 g CO2/km (comb)\n]                                                                1
[\n1\n, \n96 g CO2/km (comb)\n]                                                                 1
[\n1\n, \n181 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.1 l/100 km (comb), \n, 7.7 l/100 km (city), \n, 5.2 l/100 km (country), \n]       1
[\n1\n, \nEuro 6\n]                                                                             1
[\n1\n, \n, 5.9 l/100 km (comb), \n, 7.6 l/100 km (city), \n, 4.9 l/100 km (country), \n]       1
[\n1\n, \n102 g CO2/km (comb)\n]                                                                1
Name: Previous Owners, Length: 103, dtype: int64

In [23]:
df["Previous Owners"].apply(lambda x : x[0] if type(x)==list else x).value_counts(dropna=False)

\n1\n    8294
NaN      6640
\n2\n     778
\n0\n     188
\n3\n      17
\n4\n       2
Name: Previous Owners, dtype: int64

In [24]:
df["Previous Owners"] = df["Previous Owners"].apply(lambda x : x[0] if type(x)==list else x)

In [25]:
df["Previous Owners"].apply(lambda x : x.split()[0] if type(x) == str else x ).value_counts(dropna=False)

1      8294
NaN    6640
2       778
0       188
3        17
4         2
Name: Previous Owners, dtype: int64

In [26]:
df["Previous Owners"] = df["Previous Owners"].apply(lambda x : x.split()[0] if type(x) == str else x )

In [27]:
df["Previous Owners"].value_counts(dropna=False)

1      8294
NaN    6640
2       778
0       188
3        17
4         2
Name: Previous Owners, dtype: int64

# CO2 Emission 2436 NaN

In [ ]:
df["CO2 Emission"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                            1808
[\n120 g CO2/km (comb)\n]       740
[[], [], []]                    628
[\n99 g CO2/km (comb)\n]        545
[\n97 g CO2/km (comb)\n]        537
                               ...
[\n193 g CO2/km (comb)\n]         1
[\n171 g CO2/km (comb)\n]         1
[\n990 g CO2/km (comb)\n]         1
[\n1,060 g CO2/km (comb)\n]       1
[\n183 g CO2/km (comb)\n]         1
Name: CO2 Emission, Length: 124, dtype: int64

In [ ]:
for i in range(df.shape[0]):
  if df["CO2 Emission"][i] == [[], [], []]:
    df["CO2 Emission"][i] = np.nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df["CO2 Emission"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                            2436
[\n120 g CO2/km (comb)\n]       740
[\n99 g CO2/km (comb)\n]        545
[\n97 g CO2/km (comb)\n]        537
[\n104 g CO2/km (comb)\n]       501
                               ...
[\n183 g CO2/km (comb)\n]         1
[\n990 g CO2/km (comb)\n]         1
[\n331 g CO2/km (comb)\n]         1
[\n1,060 g CO2/km (comb)\n]       1
[\n1 g CO2/km (comb)\n]           1
Name: CO2 Emission, Length: 123, dtype: int64

In [ ]:
df["CO2 Emission"].apply(lambda x: x[0].split()[0] if type(x)==list else x)

0         99
1        129
2         99
3         99
4        109
        ...
15914    139
15915    168
15916    139
15917    139
15918    153
Name: CO2 Emission, Length: 15919, dtype: object

In [ ]:
df["CO2 Emission"] = df["CO2 Emission"].apply(lambda x: x[0].split()[0] if type(x)==list else x)

In [ ]:
df["CO2 Emission"].value_counts(dropna=False)

NaN       2436
120        740
99         545
97         537
104        501
          ...
190          1
184          1
181          1
14,457       1
171          1
Name: CO2 Emission, Length: 123, dtype: int64

In [ ]:
df["CO2 Emission"].str.replace(",", "")

0         99
1        129
2         99
3         99
4        109
        ...
15914    139
15915    168
15916    139
15917    139
15918    153
Name: CO2 Emission, Length: 15919, dtype: object

In [ ]:
df["CO2 Emission"] = df["CO2 Emission"].str.replace(",", "")

In [ ]:
df[df["CO2 Emission"] == "13983"][["make_model","Emission Label", "CO2 Emission", "Fuel", "Displacement", "Cylinders", "hp"]]

          make_model Emission Label CO2 Emission  ... Displacement Cylinders   hp
12343  Opel Insignia      4,(Green)        13983  ...         1490         4  103

[1 rows x 7 columns]

In [ ]:
df[(df['make_model'] == "Opel Insignia") & (df["Emission Label"] == "4,(Green)")]["CO2 Emission"].unique()

array([nan, '146', '149', '114', '144', '159', '166', '253', '164', '151',
       '145', '129', '175', '170', '0', '169', '148', '147', '134', '135',
       '130', '189', '103', '131', '101', '124', '136', '119', '132',
       '152', '109', '126', '133', '104', '143', '141', '150', '137',
       '138', '139', '140', '111', '142', '112', '128', '13983', '156',
       '154', '177', '180', '186', '162', '187', '188', '171', '172',
       '121', '125', '110', '155', '116', '120', '118'], dtype=object)

# registration (1597 NaN)

In [ ]:
df[df["registration"]=='-/-'].shape

(1597, 44)

In [ ]:
df.loc[df[df["registration"]=='-/-'].index, "registration"] = np.nan

In [ ]:
df["registration"].value_counts(dropna=False)

NaN        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2016     141
09/2018     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
11/2019       1
08/2019       1
12/2019       1
Name: registration, dtype: int64

# Availability (days from ordering) 15284 NaN

In [ ]:
df["Availability"].value_counts(dropna=False)

NaN                              15284
\nin 90 days from ordering\n       196
\nin 120 days from ordering\n      182
\nin 1 day from ordering\n          51
\nin 5 days from ordering\n         35
\nin 3 days from ordering\n         35
\nin 14 days from ordering\n        24
\nin 180 days from ordering\n       24
\nin 7 days from ordering\n         20
\nin 150 days from ordering\n       18
\nin 2 days from ordering\n         16
\nin 60 days from ordering\n        13
\nin 42 days from ordering\n        10
\nin 21 days from ordering\n         8
\nin 4 days from ordering\n          2
\nin 6 days from ordering\n          1
Name: Availability, dtype: int64

In [ ]:
df["Availability"].apply(lambda x : x.split()[1] if type(x)==str else x)

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
15914    NaN
15915      5
15916    120
15917    NaN
15918    NaN
Name: Availability, Length: 15919, dtype: object

In [ ]:
df["Availability"] = df["Availability"].apply(lambda x : x.split()[1] if type(x)==str else x)

# Model Code  10941NaN

In [ ]:
df["Model Code"]

0        [\n0588/BDF\n]
1        [\n0588/BCY\n]
2                   NaN
3                   NaN
4        [\n0588/BDF\n]
              ...
15914               NaN
15915    [\n0000/000\n]
15916               NaN
15917               NaN
15918    [\n3333/BHJ\n]
Name: Model Code, Length: 15919, dtype: object

In [ ]:
df["Model Code"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN               10941
[\n0035/BCB\n]      268
[\n0588/BNO\n]      245
[\n0588/BDB\n]      206
[\n0588/BHX\n]      188
                  ...
[\n1844/AEN\n]        1
[\n0588/AVR\n]        1
[\n0035/AFF\n]        1
[\n1844/AFM\n]        1
[\n0035/AVN\n]        1
Name: Model Code, Length: 233, dtype: int64

In [ ]:
df["Model Code"] = df["Model Code"].apply(lambda x : x[0].split()[0] if type(x)==list else x)

In [ ]:
df.drop("Model Code", axis=1, inplace=True)

# Upholstery 3720 NaN

In [ ]:
df["Upholstery"]

0               [\nCloth, Black\n]
1                [\nCloth, Grey\n]
2               [\nCloth, Black\n]
3                              NaN
4               [\nCloth, Black\n]
                   ...
15914                          NaN
15915                  [\nCloth\n]
15916    [\nFull leather, Black\n]
15917           [\nPart leather\n]
15918    [\nFull leather, Brown\n]
Name: Upholstery, Length: 15919, dtype: object

In [ ]:
df[~df["Upholstery"].isnull()]["Upholstery"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nCloth, Black\n]           5821
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nFull leather, Brown\n]     116
[\nPart leather, Grey\n]      116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nVelour, Black\n]            36
[\nFull leather, Beige\n]      36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nCloth, Blue\n]              12
[\nBrown\n]                    12
[\nCloth, White\n]              8
[\nVelour, Grey\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nPart leather, Red\n]         3
[\nBeige\n]                     3
[\nBlue\n]                      2
[\nFull leather, Blue\n]        2
[\nPart leather, White\n]       2
[\nalcantara\n]                 2
[\nWhite\n]                     2
[\nPart leather, Beige\n]       2
[\nalcantara, Other\n]          2
[\nFull leather, Red\n]         1
[\nFull leather, White\n]       1
[\nOther, Brown\n]              1
[\nCloth, Orange\n]             1
Name: Upholstery, dtype: int64

In [ ]:
df["Upholstery"] = df[~df["Upholstery"].isnull()]["Upholstery"].apply(lambda x :( x[0].split()[0] + " " + x[0].split()[1])
                                                   if len(x[0].split())==2 else x)

df["Upholstery"] = df[~df["Upholstery"].isnull()]["Upholstery"].apply(lambda x : x[0].split()[0]
                                                   if ((len(x[0].split())==1) & (type(x) != str)) else x)

(df["Upholstery"][5][0].split()[0] + " " + df["Upholstery"][5][0].split()[1] + df["Upholstery"][5][0].split()[2])

df["Upholstery"] = df[~df["Upholstery"].isnull()]["Upholstery"].apply(lambda x : (x[0].split()[0] + " " + x[0].split()[1]+ " " + x[0].split()[2])
                                                   if ((len(x[0].split())==3) & (type(x) != str)) else x)

In [ ]:
df["Upholstery"].str.replace(", ", ",")

0               Cloth,Black
1                Cloth,Grey
2               Cloth,Black
3                       NaN
4               Cloth,Black
                ...
15914                   NaN
15915                 Cloth
15916    Full leather,Black
15917          Part leather
15918    Full leather,Brown
Name: Upholstery, Length: 15919, dtype: object

In [ ]:
df["Upholstery"] = df["Upholstery"].str.replace(", ", ",")

In [ ]:
df["Upholstery"].value_counts(dropna=False)

Cloth,Black           5821
NaN                   3720
Part leather,Black    1121
Cloth                 1005
Cloth,Grey             891
Cloth,Other            639
Full leather,Black     575
Black                  491
Grey                   273
Other,Other            182
Part leather           140
Full leather           139
Part leather,Grey      116
Full leather,Brown     116
Other,Black            110
Full leather,Other      72
Full leather,Grey       67
Part leather,Other      65
Other                   56
Part leather,Brown      50
alcantara,Black         47
Full leather,Beige      36
Velour,Black            36
Cloth,Brown             28
Velour                  16
Other,Grey              15
Cloth,Beige             13
Brown                   12
Cloth,Blue              12
Velour,Grey              8
Cloth,White              8
alcantara,Grey           6
Cloth,Red                5
Other,Yellow             4
Part leather,Red         3
Beige                    3
Part leather,White       2
White                    2
Part leather,Beige       2
alcantara,Other          2
Full leather,Blue        2
alcantara                2
Blue                     2
Cloth,Orange             1
Other,Brown              1
Full leather,Red         1
Full leather,White       1
Name: Upholstery, dtype: int64

# Previous Owners 6640 NaN

In [ ]:
df["Previous Owners"]

0          2
1        NaN
2          1
3          1
4          1
        ...
15914    NaN
15915      1
15916      1
15917    NaN
15918      1
Name: Previous Owners, Length: 15919, dtype: object

In [ ]:
df["prev_owner"] = df["prev_owner"].apply(lambda x: x.split()[0] if type(x) == str else x)

In [ ]:
df["prev_owner"].apply(lambda x: x.split()[0] if type(x) == str else x).value_counts(dropna=False)

1      8294
NaN    6828
2       778
3        17
4         2
Name: prev_owner, dtype: int64

In [ ]:
df.groupby("Previous Owners")["prev_owner"].value_counts(dropna=False)

Previous Owners  prev_owner
0                NaN            188
1                1             8294
2                2              778
3                3               17
4                4                2
Name: prev_owner, dtype: int64

In [ ]:
df["prev_owner"].value_counts(dropna=False)

1      8294
NaN    6828
2       778
3        17
4         2
Name: prev_owner, dtype: int64

In [ ]:
df["Previous Owners"].value_counts(dropna=False)

1      8294
NaN    6640
2       778
0       188
3        17
4         2
Name: Previous Owners, dtype: int64

In [ ]:
df[df["Previous Owners"] == "0"]["prev_owner"]

47       None
418      None
586      None
648      None
734      None
         ...
15301    None
15408    None
15668    None
15853    None
15860    None
Name: prev_owner, Length: 188, dtype: object

In [ ]:
df[["Previous Owners", "prev_owner"]].describe()

       Previous Owners prev_owner
count             9279       9091
unique               5          4
top                  1          1
freq              8294       8294

In [ ]:
df.drop("prev_owner", axis=1, inplace=True)

# Body Color Original

In [ ]:
df["Body Color Original"]

0                 [\nMythosschwarz\n]
1                                 NaN
2        [\nmythosschwarz metallic\n]
3                                 NaN
4        [\nMythosschwarz Metallic\n]
                     ...
15914              [\nGrigio scuro\n]
15915       [\nStahl-Grau Metallic\n]
15916               [\narktis-weiß\n]
15917                    [\nGrigio\n]
15918    [\nTitanium-Grau Metallic\n]
Name: Body Color Original, Length: 15919, dtype: object

In [ ]:
df["Body Color Original"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                             3759
[\nOnyx Schwarz\n]               338
[\nBianco\n]                     282
[\nMythosschwarz Metallic\n]     238
[\nBrillantschwarz\n]            216
                                ...
[\nBianca - Tetto Nero\n]          1
[\ndezir rot\n]                    1
[\nnero/tetto argento met\n]       1
[\nPython Yellow Metallic\n]       1
[\nkarbongrau\n]                   1
Name: Body Color Original, Length: 1928, dtype: int64

In [ ]:
df[["Body Color Original", "Body Color", "Paint Type"]]

                Body Color Original Body Color Paint Type
0               [\nMythosschwarz\n]      Black   Metallic
1                               NaN        Red        NaN
2      [\nmythosschwarz metallic\n]      Black   Metallic
3                               NaN      Brown   Metallic
4      [\nMythosschwarz Metallic\n]      Black   Metallic
...                             ...        ...        ...
15914            [\nGrigio scuro\n]       Grey   Metallic
15915     [\nStahl-Grau Metallic\n]       Grey   Metallic
15916             [\narktis-weiß\n]      White        NaN
15917                  [\nGrigio\n]       Grey        NaN
15918  [\nTitanium-Grau Metallic\n]       Grey   Metallic

[15919 rows x 3 columns]

In [ ]:
df["Body Color Original"].apply(lambda x: x[0].split()[0] if type(x)==list else x)

0        Mythosschwarz
1                  NaN
2        mythosschwarz
3                  NaN
4        Mythosschwarz
             ...
15914           Grigio
15915       Stahl-Grau
15916      arktis-weiß
15917           Grigio
15918    Titanium-Grau
Name: Body Color Original, Length: 15919, dtype: object

In [ ]:
df["Body Color Original"] = df["Body Color Original"].apply(lambda x: x[0].split()[0] if type(x)==list else x)

In [ ]:
df.groupby("Body Color")[[ "Body Color Original", "Paint Type"]].describe()

           Body Color Original                     ... Paint Type
                         count unique         top  ...     unique       top  freq
Body Color                                         ...
Beige                       78     19       Beige  ...          2  Metallic    74
Black                     2879    168        Onyx  ...          2  Metallic  2654
Blue                      1165    128     Tiefsee  ...          3  Metallic  1006
Bronze                       2      2      Bronzo  ...          1  Metallic     3
Brown                      233     55   Kokosnuss  ...          2  Metallic   231
Gold                         0      0         NaN  ...          0       NaN   NaN
Green                      142     30     Smaragd  ...          2  Metallic   115
Grey                      2718    230      Grigio  ...          2  Metallic  2730
Orange                       2      2   Mandarina  ...          1  Metallic     1
Red                        737     80   Misanorot  ...          3  Metallic   526
Silver                    1265     94       Argon  ...          2  Metallic  1425
Violet                       4      3      violet  ...          1  Metallic    13
White                     2484    152      Bianco  ...          3  Metallic   865
Yellow                      44     17  Pythongelb  ...          2  Metallic    37

[14 rows x 8 columns]

# Next Inspection 12384 NAN

In [ ]:
df["Next Inspection"].value_counts(dropna=False).sort_values()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n06/2020\n, \n122 g CO2/km (comb)\n]        1
[\n10/2021\n, \n4 (Green)\n]                  1
[\n06/2019\n, \n105 g CO2/km (comb)\n]        1
[\n03/2021\n, \n151 g CO2/km (comb)\n]        1
[\n08/2020\n, \n99 g CO2/km (comb)\n]         1
                                          ...
\n06/2021\n                                  34
\n03/2022\n                                  36
\n03/2021\n                                  38
\n04/2022\n                                  62
NaN                                       12384
Name: Next Inspection, Length: 1400, dtype: int64

In [ ]:
df["Next Inspection"].isnull().sum()

12384

In [ ]:
def regulazer(x):
  
  #if x != np.nan:
    if type(x)==list:
        x = x[0].split()[0]
    elif type(x)==str:
        x = x.split()[0]
    return x

In [ ]:
df["Next Inspection"].apply(regulazer).value_counts(dropna=False)

NaN        12384
06/2021      471
03/2021      210
05/2021      180
04/2021      171
           ...
02/2017        1
12/2017        1
03/2024        1
11/2022        1
01/1999        1
Name: Next Inspection, Length: 78, dtype: int64

In [ ]:
df[~df["Next Inspection"].isnull()]["Next Inspection"]

0                    [\n06/2021\n, \n99 g CO2/km (comb)\n]
8                    [\n02/2020\n, \n97 g CO2/km (comb)\n]
12                  [\n09/2019\n, \n112 g CO2/km (comb)\n]
14                   [\n10/2019\n, \n99 g CO2/km (comb)\n]
15                   [\n04/2020\n, \n97 g CO2/km (comb)\n]
                               ...
15882               [\n05/2022\n, \n168 g CO2/km (comb)\n]
15889    [\n06/2021\n, \n, 7.4 l/100 km (comb), \n, 9.2...
15895               [\n06/2021\n, \n139 g CO2/km (comb)\n]
15905               [\n01/2022\n, \n153 g CO2/km (comb)\n]
15915               [\n01/2022\n, \n168 g CO2/km (comb)\n]
Name: Next Inspection, Length: 3535, dtype: object

In [ ]:
df[~df["Next Inspection"].isnull()]["Next Inspection"].apply(lambda x : len(x) 
                                                             if ((len(x)>=1) & (type(x)==list)) else x ).value_counts()

2              2551
8               239
\n04/2022\n      62
\n03/2021\n      38
\n03/2022\n      36
               ...
\n12/2022\n       1
\n03/2024\n       1
\n01/1955\n       1
\n01/1999\n       1
\n03/2018\n       1
Name: Next Inspection, Length: 68, dtype: int64

In [ ]:
df["Next Inspection"] = df["Next Inspection"].apply(regulazer)

In [ ]:
df["Next Inspection"].value_counts(dropna=False)

NaN        12384
06/2021      471
03/2021      210
05/2021      180
04/2021      171
           ...
02/2017        1
12/2017        1
03/2024        1
11/2022        1
01/1999        1
Name: Next Inspection, Length: 78, dtype: int64

# Inspection new 11987 Nan

In [ ]:
df["Inspection new"]

0                     [\nYes\n, \nEuro 6\n]
1                                       NaN
2                                       NaN
3                                       NaN
4        [\nYes\n, \n109 g CO2/km (comb)\n]
                        ...
15914                                   NaN
15915                                   NaN
15916           [\nYes\n, \nEuro 6d-TEMP\n]
15917                                   NaN
15918    [\nYes\n, \n153 g CO2/km (comb)\n]
Name: Inspection new, Length: 15919, dtype: object

In [ ]:
df["Inspection new"].apply(regulazer).value_counts(dropna=False)

NaN    11987
Yes     3932
Name: Inspection new, dtype: int64

In [ ]:
df["Inspection new"] = df["Inspection new"].apply(regulazer)

# Warranty 11096 Nan

In [ ]:
df["Warranty"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                         5420
[\n, \n, \nEuro 6\n]                        1868
\n12 months\n                               1177
\n                                           979
\n24 months\n                                566
                                            ...
[\n28 months\n, \n106 g CO2/km (comb)\n]       1
[\n72 months\n, \n133 g CO2/km (comb)\n]       1
[\n20 months\n, \n139 g CO2/km (comb)\n]       1
\n30 months\n                                  1
[\n56 months\n, \n4 (Green)\n]                 1
Name: Warranty, Length: 516, dtype: int64

In [ ]:
df.loc[df[df["Warranty"] == "\n"]["Warranty"].index, "Warranty"] = np.nan

In [ ]:
df["Warranty"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                6399
[\n, \n, \nEuro 6\n]                                                                               1868
\n12 months\n                                                                                      1177
\n24 months\n                                                                                       566
[\n, \n, \n4 (Green)\n]                                                                             517
                                                                                                   ...
[\n36 months\n, \n115 g CO2/km (comb)\n]                                                              1
[\n36 months\n, \n, 6 l/100 km (comb), \n, 8.2 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n60 months\n, \n, 6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 5.2 l/100 km (country), \n]       1
[\n12 months\n, \n14,457 g CO2/km (comb)\n]                                                           1
[\n60 months\n, \nEuro 6d\n]                                                                          1
Name: Warranty, Length: 515, dtype: int64

In [ ]:
df[~df["Warranty"].isnull()]["Warranty"].apply(lambda x : x.split()[0] if type(x)==str else x)

0                 [\n, \n, \n4 (Green)\n]
2        [\n, \n, \n99 g CO2/km (comb)\n]
4                    [\n, \n, \nEuro 6\n]
7                    [\n, \n, \nEuro 6\n]
8             [\n12 months\n, \nEuro 6\n]
                       ...
15909                                  48
15912                                  24
15914                                  24
15915                [\n, \n, \nEuro 6\n]
15916             [\n, \n, \n4 (Green)\n]
Name: Warranty, Length: 9520, dtype: object

In [ ]:
df["Warranty"] = df[~df["Warranty"].isnull()]["Warranty"].apply(lambda x : x.split()[0] if type(x)==str else x)

In [ ]:
df["Warranty"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                         6399
[\n, \n, \nEuro 6\n]                        1868
12                                          1177
24                                           566
[\n, \n, \n4 (Green)\n]                      517
                                            ...
[\n24 months\n, \n141 g CO2/km (comb)\n]       1
[\n56 months\n, \n4 (Green)\n]                 1
[\n60 months\n, \n150 g CO2/km (comb)\n]       1
[\n21 months\n, \n140 g CO2/km (comb)\n]       1
[\n17 months\n, \nEuro 6\n]                    1
Name: Warranty, Length: 515, dtype: int64

In [ ]:
def regulazer_warranty(x):
  if type(x)==list:
    if x[0].split() == []:
      x = np.nan
    else:
      x = x[0].split()[0]
  return x

In [ ]:
df["Warranty"].apply(regulazer_warranty).value_counts(dropna=False)

NaN    11066
12      2594
24      1118
60       401
36       279
48       149
6        125
72        59
3         33
23        11
18        10
20         7
25         6
2          5
26         4
50         4
16         4
19         3
1          3
13         3
4          3
34         3
11         2
45         2
14         2
46         2
17         2
22         2
21         2
28         2
9          2
65         1
30         1
56         1
10         1
47         1
49         1
7          1
8          1
15         1
40         1
33         1
Name: Warranty, dtype: int64

In [ ]:
df["Warranty"] = df["Warranty"].apply(regulazer_warranty)

In [ ]:
df["Warranty"].value_counts(dropna=False)

NaN    11066
12      2594
24      1118
60       401
36       279
48       149
6        125
72        59
3         33
23        11
18        10
20         7
25         6
2          5
26         4
50         4
16         4
19         3
1          3
13         3
4          3
34         3
11         2
45         2
14         2
46         2
17         2
22         2
21         2
28         2
9          2
65         1
30         1
56         1
10         1
47         1
49         1
7          1
8          1
15         1
40         1
33         1
Name: Warranty, dtype: int64

#Consumption Comb 2064, City 2467, Country 2407 NAN

In [ ]:
#import pandas as pd
#df = pd.read_json('/content/drive/MyDrive/Colab Notebooks/scout_car.json', lines=True, orient=str)

In [ ]:
# len(df["Consumption"]) == 3:
print(df["Consumption"][0])
df["Consumption"][0][0] + df["Consumption"][0][1] + df["Consumption"][0][2]

[['3.8 l/100 km (comb)'], ['4.3 l/100 km (city)'], ['3.5 l/100 km (country)']]

['3.8 l/100 km (comb)', '4.3 l/100 km (city)', '3.5 l/100 km (country)']

In [ ]:
# len(df["Consumption"]) == 7:
print(df["Consumption"][15915])
(df["Consumption"][15915][1] + "," + df["Consumption"][15915][3] + "," + df["Consumption"][15915][5]).split(",")

['\n', '7.4 l/100 km (comb)', '\n', '9.2 l/100 km (city)', '\n', '6.3 l/100 km (country)', '\n']

['7.4 l/100 km (comb)', '9.2 l/100 km (city)', '6.3 l/100 km (country)']

In [ ]:
# len(df["Consumption"]) == 5:
print(df["Consumption"][3612])
df["Consumption"][3612][1] #+ df["Consumption"][0][1] + df["Consumption"][0][2]

['\n', '1.6 l/100 km (comb)', '\n', '\n', '\n']

'1.6 l/100 km (comb)'

In [ ]:

a = b=c=d=e=f=g=z=0
for i in range(df.shape[0]):

  if type(df["Consumption"][i])==float:
    z+=1
    pass
  elif type(df["Consumption"][i])==list:
    if len(df["Consumption"][i])==1:
      a = a +1
      #print(i, a, df["Consumption"][i])
    elif len(df["Consumption"][i])==2:
      b = b+1
      #print(i, b, df["Consumption"][i])
    elif len(df["Consumption"][i])==3:
      c = c+1
      #print(i, c, df["Consumption"][i])
    elif len(df["Consumption"][i])==4:
      d = d +1
      #print(i, d, df["Consumption"][i]) 
    elif len(df["Consumption"][i])==5:
      e = e +1
      #print(i, e, df["Consumption"][i])
    elif len(df["Consumption"][i])==6:
      f = f +1
      #print(i, f, df["Consumption"][i])
    elif len(df["Consumption"][i])==7:
      g = g +1

print("nan:",z , "len1:", a, "len2:", b, "len3:", c, "len4:", d, "len5:", e, "len6:", f, "len7:", g)
print("toplam", z +a +b+d+f+e +g+c)

nan: 1906 len1: 0 len2: 0 len3: 13163 len4: 0 len5: 14 len6: 0 len7: 836
toplam 15919

In [ ]:
for i in range(df.shape[0]):
  if type(df["Consumption"][i])==float:
    pass
  elif (type(df["Consumption"][i])==list) & (len(df["Consumption"][i])==3):
    df["Consumption"][i] = df["Consumption"][i][0] + df["Consumption"][i][1] + df["Consumption"][i][2]
df["Consumption"][0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

['3.8 l/100 km (comb)', '4.3 l/100 km (city)', '3.5 l/100 km (country)']

In [ ]:
for i in range(df.shape[0]):
  if type(df["Consumption"][i])==float:
    pass
  elif (type(df["Consumption"][i])==list) & (len(df["Consumption"][i])==7):
    df["Consumption"][i] = (df["Consumption"][i][1] + ", " + df["Consumption"][i][3] + ", " + df["Consumption"][i][5]).split(",")
df["Consumption"][15915]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

['7.4 l/100 km (comb)', ' 9.2 l/100 km (city)', ' 6.3 l/100 km (country)']

In [ ]:
for i in range(df.shape[0]):
  if type(df["Consumption"][i])==float:
    pass
  elif (type(df["Consumption"][i])==list) & (len(df["Consumption"][i])==5):
    df["Consumption"][i] = df["Consumption"][i][1]
df["Consumption"][3612]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

'1.6 l/100 km (comb)'

In [ ]:
a = b=c=d=e=f=g=z=0
for i in range(df.shape[0]):

  if type(df["Consumption"][i])==float:
    z+=1
    pass
  elif type(df["Consumption"][i])==list:
    if len(df["Consumption"][i])==1:
      a = a +1
      #print(i, a, df["Consumption"][i])
    elif len(df["Consumption"][i])==2:
      b = b+1
      #print(i, b, df["Consumption"][i])
    elif len(df["Consumption"][i])==3:
      c = c+1
      #print(i, c, df["Consumption"][i])
    elif len(df["Consumption"][i])==4:
      d = d +1
      #print(i, d, df["Consumption"][i]) 
    elif len(df["Consumption"][i])==5:
      e = e +1
      #print(i, e, df["Consumption"][i])
    elif len(df["Consumption"][i])==6:
      f = f +1
      #print(i, f, df["Consumption"][i])
    elif len(df["Consumption"][i])==7:
      g = g +1

print("nan:",z , "len1:", a, "len2:", b, "len3:", c, "len4:", d, "len5:", e, "len6:", f, "len7:", g)
print("toplam", z +a +b+d+f+e +g+c)

nan: 1906 len1: 464 len2: 171 len3: 13364 len4: 0 len5: 0 len6: 0 len7: 0
toplam 15905

In [ ]:
df["Consumption"][15442] # len was 3 but ['5.3 l/100 km (comb)', '6.2 l/100 km (city)', []]

['5.3 l/100 km (comb)', '6.2 l/100 km (city)']

In [ ]:
df["Consumption"][1352]  # len was 3  but [['4.2 l/100 km (comb)'], [], []]

['4.2 l/100 km (comb)']

In [ ]:
for i in range(df.shape[0]):
  if type(df["Consumption"][i])==float:
    pass
  elif (type(df["Consumption"][i])==list) & (len(df["Consumption"][i])==2):
    df["Consumption"][i] = df["Consumption"][i][0] + ", " + df["Consumption"][i][1]
df["Consumption"][15442]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

'5.3 l/100 km (comb), 6.2 l/100 km (city)'

In [ ]:
for i in range(df.shape[0]):
  if type(df["Consumption"][i])==float:
    pass
  elif (type(df["Consumption"][i])==list) & (len(df["Consumption"][i])==1):
    df["Consumption"][i] = df["Consumption"][i][0]
df["Consumption"][1352]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

'4.2 l/100 km (comb)'

In [ ]:
a = b=c=d=e=f=g=z=0
for i in range(df.shape[0]):

  if type(df["Consumption"][i])==float:
    z+=1
    pass
  elif type(df["Consumption"][i])==list:
    if len(df["Consumption"][i])==1:
      a = a +1
      #print(i, a, df["Consumption"][i])
    elif len(df["Consumption"][i])==2:
      b = b+1
      #print(i, b, df["Consumption"][i])
    elif len(df["Consumption"][i])==3:
      c = c+1
      #print(i, c, df["Consumption"][i])
    elif len(df["Consumption"][i])==4:
      d = d +1
      #print(i, d, df["Consumption"][i]) 
    elif len(df["Consumption"][i])==5:
      e = e +1
      #print(i, e, df["Consumption"][i])
    elif len(df["Consumption"][i])==6:
      f = f +1
      #print(i, f, df["Consumption"][i])
    elif len(df["Consumption"][i])==7:
      g = g +1

print("nan:",z , "len1:", a, "len2:", b, "len3:", c, "len4:", d, "len5:", e, "len6:", f, "len7:", g)
print("toplam", z +a +b+d+f+e +g+c)

nan: 1906 len1: 0 len2: 0 len3: 13364 len4: 0 len5: 0 len6: 0 len7: 0
toplam 15270

In [ ]:
for i in range(df.shape[0]):
  if type(df["Consumption"][i])==float:
    pass
  elif (type(df["Consumption"][i])==list) & (len(df["Consumption"][i])==3):
    df["Consumption"][i] = df["Consumption"][i][0] + ", " + df["Consumption"][i][1] + ", " + df["Consumption"][i][2]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df["Consumption"].value_counts(dropna=False)

NaN                                                                     1906
3.9 l/100 km (comb), 4.1 l/100 km (city), 3.7 l/100 km (country)         304
4.2 l/100 km (comb), 5 l/100 km (city), 3.7 l/100 km (country)           276
5.4 l/100 km (comb), 6.8 l/100 km (city), 4.5 l/100 km (country)         257
3.8 l/100 km (comb), 4.3 l/100 km (city), 3.5 l/100 km (country)         253
                                                                        ...
5 l/100 km (comb), 6.5 l/100 km (city), 4 l/100 km (country)               1
7.4 l/100 km (comb),  9.6 l/100 km (city),  6 l/100 km (country)           1
4.3 l/100 km (comb), 5.6 l/100 km (city), 3.5 l/100 km (country)           1
5.2 l/100 km (comb),  6.6 l/100 km (city),  4.3 l/100 km (country)         1
8.3 kg/100 km (comb), 10.5 kg/100 km (city), 6.9 kg/100 km (country)       1
Name: Consumption, Length: 876, dtype: int64

In [ ]:
df["Consumption"].nunique()

875

In [ ]:
pattern1  = r'([0-9]+[\.]?[0-9]?\sl\/100\skm\s\(comb\))'  #
extr1 = df['Consumption'].str.extract(pattern1, expand=False)
extr1

0        3.8 l/100 km (comb)
1        5.6 l/100 km (comb)
2        3.8 l/100 km (comb)
3        3.8 l/100 km (comb)
4        4.1 l/100 km (comb)
                ...
15914    5.3 l/100 km (comb)
15915    7.4 l/100 km (comb)
15916    5.3 l/100 km (comb)
15917    5.3 l/100 km (comb)
15918    6.8 l/100 km (comb)
Name: Consumption, Length: 15919, dtype: object

In [ ]:
pattern2  = r'([0-9]+[\.]?[0-9]?\sl\/100\skm\s\(city\))'  #
extr2 = df['Consumption'].str.extract(pattern2, expand=False)
extr2

0        4.3 l/100 km (city)
1        7.1 l/100 km (city)
2        4.4 l/100 km (city)
3        4.3 l/100 km (city)
4        4.6 l/100 km (city)
                ...
15914    6.2 l/100 km (city)
15915    9.2 l/100 km (city)
15916    6.2 l/100 km (city)
15917    6.2 l/100 km (city)
15918    8.7 l/100 km (city)
Name: Consumption, Length: 15919, dtype: object

In [ ]:
pattern3  = r'([0-9]+[\.]?[0-9]?\sl\/100\skm\s\(country\))'  #
extr3 = df['Consumption'].str.extract(pattern3, expand=False)
extr3

0        3.5 l/100 km (country)
1        4.7 l/100 km (country)
2        3.4 l/100 km (country)
3        3.5 l/100 km (country)
4        3.8 l/100 km (country)
                  ...
15914    4.7 l/100 km (country)
15915    6.3 l/100 km (country)
15916    4.7 l/100 km (country)
15917    4.7 l/100 km (country)
15918    5.7 l/100 km (country)
Name: Consumption, Length: 15919, dtype: object

In [ ]:
series_list = [extr1, extr2, extr3]
data = pd.concat(series_list, axis=1, sort=False)
data
# pd.merge(df["Consumption"], extr1, how="left")

               Consumption          Consumption             Consumption
0      3.8 l/100 km (comb)  4.3 l/100 km (city)  3.5 l/100 km (country)
1      5.6 l/100 km (comb)  7.1 l/100 km (city)  4.7 l/100 km (country)
2      3.8 l/100 km (comb)  4.4 l/100 km (city)  3.4 l/100 km (country)
3      3.8 l/100 km (comb)  4.3 l/100 km (city)  3.5 l/100 km (country)
4      4.1 l/100 km (comb)  4.6 l/100 km (city)  3.8 l/100 km (country)
...                    ...                  ...                     ...
15914  5.3 l/100 km (comb)  6.2 l/100 km (city)  4.7 l/100 km (country)
15915  7.4 l/100 km (comb)  9.2 l/100 km (city)  6.3 l/100 km (country)
15916  5.3 l/100 km (comb)  6.2 l/100 km (city)  4.7 l/100 km (country)
15917  5.3 l/100 km (comb)  6.2 l/100 km (city)  4.7 l/100 km (country)
15918  6.8 l/100 km (comb)  8.7 l/100 km (city)  5.7 l/100 km (country)

[15919 rows x 3 columns]

In [ ]:
columns = ["Comb", "City", "Country"]
data.columns = columns
data

                      Comb                 City                 Country
0      3.8 l/100 km (comb)  4.3 l/100 km (city)  3.5 l/100 km (country)
1      5.6 l/100 km (comb)  7.1 l/100 km (city)  4.7 l/100 km (country)
2      3.8 l/100 km (comb)  4.4 l/100 km (city)  3.4 l/100 km (country)
3      3.8 l/100 km (comb)  4.3 l/100 km (city)  3.5 l/100 km (country)
4      4.1 l/100 km (comb)  4.6 l/100 km (city)  3.8 l/100 km (country)
...                    ...                  ...                     ...
15914  5.3 l/100 km (comb)  6.2 l/100 km (city)  4.7 l/100 km (country)
15915  7.4 l/100 km (comb)  9.2 l/100 km (city)  6.3 l/100 km (country)
15916  5.3 l/100 km (comb)  6.2 l/100 km (city)  4.7 l/100 km (country)
15917  5.3 l/100 km (comb)  6.2 l/100 km (city)  4.7 l/100 km (country)
15918  6.8 l/100 km (comb)  8.7 l/100 km (city)  5.7 l/100 km (country)

[15919 rows x 3 columns]

In [ ]:
data.isnull().sum()

Comb       2064
City       2467
Country    2407
dtype: int64

In [ ]:
pd.merge(df, data, how='left', left_index=True, right_index=True)

           make_model  ...                 Country
0             Audi A1  ...  3.5 l/100 km (country)
1             Audi A1  ...  4.7 l/100 km (country)
2             Audi A1  ...  3.4 l/100 km (country)
3             Audi A1  ...  3.5 l/100 km (country)
4             Audi A1  ...  3.8 l/100 km (country)
...               ...  ...                     ...
15914  Renault Espace  ...  4.7 l/100 km (country)
15915  Renault Espace  ...  6.3 l/100 km (country)
15916  Renault Espace  ...  4.7 l/100 km (country)
15917  Renault Espace  ...  4.7 l/100 km (country)
15918  Renault Espace  ...  5.7 l/100 km (country)

[15919 rows x 45 columns]

In [ ]:
df = pd.merge(df, data, how='left', left_index=True, right_index=True)

In [ ]:
df.drop("Consumption", axis=1, inplace=True)

# Non-smoking dropped

In [ ]:
df["Non-smoking Vehicle"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                           8742
[\n, \n]                                                                                      3647
[\n, \n, \n4 (Green)\n]                                                                       1240
[\n, \n, \nEuro 6\n]                                                                          1127
[\n, \n, \nEuro 6d-TEMP\n]                                                                     345
                                                                                              ...
[\n, \n, \n101 g CO2/km (comb)\n]                                                                1
[\n, \n, \n122 g CO2/km (comb)\n]                                                                1
[\n, \n, \n159 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.2 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.3 l/100 km (country), \n]       1
[\n, \n, \n175 g CO2/km (comb)\n]                                                                1
Name: Non-smoking Vehicle, Length: 95, dtype: int64

In [ ]:
df.drop("Non-smoking Vehicle", axis=1, inplace=True)

# description

In [ ]:
df["description"].isnull().sum()

0

In [ ]:
df.drop("description", axis=1, inplace=True)

# short_description

In [ ]:
df["short_description"].value_counts(dropna=False)

SPB 1.6 TDI 116 CV S tronic Sport               64
NaN                                             46
1.4 66kW (90CV) Selective                       40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH           38
SPB 30 TFSI S tronic Admired                    35
                                                ..
1.2 5 porte b-Color CLIMA ELETTR.                1
Sportback 1.0TFSI design                         1
Sportback 2.0 TDI Ambition *Xenon*               1
1.2 Edition 1.Hd. Klima Parkpilot Sitzh.         1
1,4 Turbo Ecotec Direct Inj. Innovation Star     1
Name: short_description, Length: 10002, dtype: int64

# Electricity consumption dropped

In [ ]:
df[~df['Electricity consumption'].isnull()]["Electricity consumption"].value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n0 kWh/100 km (comb)\n]    137
Name: Electricity consumption, dtype: int64

In [ ]:
df.drop("Electricity consumption", axis=1, inplace=True)

# Last Service Date

In [ ]:
df["Last Service Date"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                       15353
[\n02/2019\n, \nEuro 6\n]                    23
[\n05/2019\n, \nEuro 6\n]                    16
[\n01/2018\n, \n118 g CO2/km (comb)\n]       15
[\n03/2019\n, \nEuro 6\n]                    15
                                          ...
[\n03/2019\n, \n129 g CO2/km (comb)\n]        1
[\n04/2018\n, \n110 g CO2/km (comb)\n]        1
[\n04/2018\n, \n123 g CO2/km (comb)\n]        1
[\n03/2019\n, \n139 g CO2/km (comb)\n]        1
[\n01/2019\n, \n104 g CO2/km (comb)\n]        1
Name: Last Service Date, Length: 267, dtype: int64

In [ ]:
df[~df["Last Service Date"].isnull()]["Last Service Date"][22]

['\n12/2018\n', '\nEuro 6\n']

In [ ]:
df["Last Service Date"][2968]

['\n12/2018\n']

In [ ]:
df[df["Last Service Date"] == "\n12/2018\n"]["Last Service Date"]

2779     \n12/2018\n
3021     \n12/2018\n
3427     \n12/2018\n
13392    \n12/2018\n
13723    \n12/2018\n
13934    \n12/2018\n
14112    \n12/2018\n
Name: Last Service Date, dtype: object

In [ ]:
for i in range(df.shape[0]):
  if type(df["Last Service Date"][i]) != float:
    if (type(df["Last Service Date"][i]) == list):
      df["Last Service Date"][i] = df["Last Service Date"][i][0].split()[0]
    elif (type(df["Last Service Date"][i]) == str):
      df["Last Service Date"][i] = df["Last Service Date"][i].split()[0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df["Last Service Date"].value_counts(dropna=False)

NaN        15353
05/2019       61
02/2019       55
01/2019       51
06/2019       49
04/2019       48
03/2019       47
12/2018       32
10/2018       24
07/2018       21
05/2018       21
06/2018       21
01/2018       20
09/2018       17
11/2018       17
04/2018       16
08/2018       13
03/2018        9
06/2017        7
02/2018        5
10/2017        3
12/2017        3
01/2017        3
02/2017        3
05/2017        3
04/2016        2
06/2016        2
07/2017        2
11/2017        2
11/2019        1
04/2017        1
05/2016        1
10/2019        1
09/2017        1
07/2019        1
08/2019        1
09/2019        1
03/2016        1
Name: Last Service Date, dtype: int64

# Comfort & Convenience  920 

# Extras  2961 

# Entertainment & Media  1374 

# Safety & Security 982

In [ ]:
str(df['Extras'][1])[2:-2].replace("', '", ",")

'Alloy wheels,Sport seats,Sport suspension,Voice Control'

In [ ]:
df['Comfort & Convenience'].apply(lambda x: str(x)[2:-2].replace("', '", ",") if type(x)==list else x)

0        Air conditioning,Armrest,Automatic climate con...
1        Air conditioning,Automatic climate control,Hil...
2        Air conditioning,Cruise control,Electrical sid...
3        Air suspension,Armrest,Auxiliary heating,Elect...
4        Air conditioning,Armrest,Automatic climate con...
                               ...
15914    Air conditioning,Automatic climate control,Cru...
15915    Air conditioning,Automatic climate control,Cru...
15916    Air conditioning,Armrest,Automatic climate con...
15917    Air conditioning,Automatic climate control,Cru...
15918    Air conditioning,Automatic climate control,Cru...
Name: Comfort & Convenience, Length: 15919, dtype: object

In [ ]:
# df['Comfort & Convenience'].str.join("|").str.get_dummies()  this is for the lists in the series row


df[['Comfort & Convenience', 'Extras', 'Entertainment & Media', 'Safety & Security']].applymap(lambda x: str(x)[2:-2].replace("', '", ",") if type(x)==list else x)

                                   Comfort & Convenience  ...                                  Safety & Security
0      Air conditioning,Armrest,Automatic climate con...  ...  ABS,Central door lock,Daytime running lights,D...
1      Air conditioning,Automatic climate control,Hil...  ...  ABS,Central door lock,Central door lock with r...
2      Air conditioning,Cruise control,Electrical sid...  ...  ABS,Central door lock,Daytime running lights,D...
3      Air suspension,Armrest,Auxiliary heating,Elect...  ...  ABS,Alarm system,Central door lock with remote...
4      Air conditioning,Armrest,Automatic climate con...  ...  ABS,Central door lock,Driver-side airbag,Elect...
...                                                  ...  ...                                                ...
15914  Air conditioning,Automatic climate control,Cru...  ...  ABS,Central door lock,Central door lock with r...
15915  Air conditioning,Automatic climate control,Cru...  ...  ABS,Adaptive Cruise Control,Blind spot monitor...
15916  Air conditioning,Armrest,Automatic climate con...  ...  ABS,Adaptive Cruise Control,Blind spot monitor...
15917  Air conditioning,Automatic climate control,Cru...  ...  ABS,Blind spot monitor,Driver-side airbag,Elec...
15918  Air conditioning,Automatic climate control,Cru...  ...  ABS,Blind spot monitor,Daytime running lights,...

[15919 rows x 4 columns]

In [ ]:
df[['Comfort & Convenience', 'Extras', 'Entertainment & Media', 'Safety & Security']] = df[['Comfort & Convenience', 'Extras', 'Entertainment & Media', 'Safety & Security']].applymap(lambda x: str(x)[2:-2].replace("', '", ",") if type(x)==list else x)

In [ ]:
df[['Comfort & Convenience', 'Extras', 'Entertainment & Media', 'Safety & Security']]

                                   Comfort & Convenience  ...                                  Safety & Security
0      Air conditioning,Armrest,Automatic climate con...  ...  ABS,Central door lock,Daytime running lights,D...
1      Air conditioning,Automatic climate control,Hil...  ...  ABS,Central door lock,Central door lock with r...
2      Air conditioning,Cruise control,Electrical sid...  ...  ABS,Central door lock,Daytime running lights,D...
3      Air suspension,Armrest,Auxiliary heating,Elect...  ...  ABS,Alarm system,Central door lock with remote...
4      Air conditioning,Armrest,Automatic climate con...  ...  ABS,Central door lock,Driver-side airbag,Elect...
...                                                  ...  ...                                                ...
15914  Air conditioning,Automatic climate control,Cru...  ...  ABS,Central door lock,Central door lock with r...
15915  Air conditioning,Automatic climate control,Cru...  ...  ABS,Adaptive Cruise Control,Blind spot monitor...
15916  Air conditioning,Armrest,Automatic climate con...  ...  ABS,Adaptive Cruise Control,Blind spot monitor...
15917  Air conditioning,Automatic climate control,Cru...  ...  ABS,Blind spot monitor,Driver-side airbag,Elec...
15918  Air conditioning,Automatic climate control,Cru...  ...  ABS,Blind spot monitor,Daytime running lights,...

[15919 rows x 4 columns]

In [ ]:
for i in df[['Comfort & Convenience', 'Extras', 'Entertainment & Media', 'Safety & Security']].columns:
  print(i, "\n", df[i].value_counts(dropna=False), "\n")

Comfort & Convenience
 NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                       216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                   134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                           130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                                       105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...
Air conditioning,Automatic climate control,Light sensor,Navigation system,Park Distance Control,Parking assist system sensors rear,Rain sensor                                                                                                                                                                                                                                                                                                                                                             1
Air conditioning,Automatic climate control,Cruise control,Leather steering wheel,Light sensor,Multi-function steering wheel,Power windows,Rain sensor,Split rear seats,Start-stop system                                                                                                                                                                                                                                                                                                                   1
Air conditioning,Automatic climate control,Cruise control,Electrically heated windshield,Electrical side mirrors,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Seat ventilation,Split rear seats,Start-stop system,Tinted windows                                                1
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Electric tailgate,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating                                                                                                                          1
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrically adjustable seats,Electrical side mirrors,Heated steering wheel,Keyless central door lock,Leather steering wheel,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Seat ventilation,Start-stop system      1
Name: Comfort & Convenience, Length: 6199, dtype: int64

Extras
 Alloy wheels                                                                                                          3245
NaN                                                                                                                   2962
Alloy wheels,Touch screen                                                                                              697
Alloy wheels,Voice Control                                                                                             577
Alloy wheels,Touch screen,Voice Control                                                                                541
                                                                                                                      ...
Cab or rented Car,Catalytic Converter,Roof rack                                                                          1
Alloy wheels,Roof rack,Shift paddles,Ski bag,Sport package,Sport seats,Sport suspension,Touch screen,Voice Control       1
Alloy wheels,Cab or rented Car,Shift paddles,Sport seats                                                                 1
Alloy wheels,Catalytic Converter,Sport package,Sport seats,Sport suspension,Trailer hitch,Voice Control                  1
Alloy wheels,Roof rack,Sport suspension,Touch screen                                                                     1
Name: Extras, Length: 660, dtype: int64

Entertainment & Media
 NaN                                                                                                         1374
Bluetooth,Hands-free equipment,On-board computer,Radio,USB                                                  1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB                                               982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB                                     783
On-board computer,Radio                                                                                      487
                                                                                                            ...
Bluetooth,CD player,Digital radio,Hands-free equipment,On-board computer,Radio,Sound system                    1
CD player,Digital radio,On-board computer,USB                                                                  1
Bluetooth,CD player,MP3                                                                                        1
Bluetooth,MP3,On-board computer,Radio,Television,USB                                                           1
Bluetooth,CD player,Digital radio,Hands-free equipment,MP3,On-board computer,Sound system,Television,USB       1
Name: Entertainment & Media, Length: 347, dtype: int64

Safety & Security
 NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                       982
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                                                                                                              538
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                                                                                                                         480
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                                                                                                                                                                                                        275
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                                                                                   272
                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
ABS,Alarm system,Central door lock,Central door lock with remote control,Daytime running lights,Driver drowsiness detection,Driver-side airbag,Electronic stability control,Head airbag,Immobilizer,Isofix,Passenger-side airbag,Power steering,Rear airbag,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                    1
ABS,Adaptive headlights,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                                       1
ABS,Adaptive headlights,Alarm system,Central door lock,Central door lock with remote control,Daytime running lights,Driver drowsiness detection,Driver-side airbag,Electronic stability control,Emergency brake assistant,Fog lights,Head airbag,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Traffic sign recognition      1
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Power steering,Tire pressure monitoring system,Traction control                                                                                                                                                                                                                                                                                  1
ABS,Central door lock,Daytime running lights,Driver-side airbag,Fog lights,Isofix,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system                                                                                                                                                                                                                                                                1
Name: Safety & Security, Length: 4444, dtype: int64

In [ ]:
for i in df[['Comfort & Convenience', 'Extras', 'Entertainment & Media', 'Safety & Security']].columns:
  print(i, "\n", df[i].isnull().sum(), "\n")

Comfort & Convenience
 920

Extras
 2962

Entertainment & Media
 1374

Safety & Security
 982

In [ ]:
df['Comfort & Convenience'].str.get_dummies(",")

       Air conditioning  Air suspension  ...  Wind deflector  Windshield
0                     1               0  ...               0           0
1                     1               0  ...               0           0
2                     1               0  ...               0           0
3                     0               1  ...               0           0
4                     1               0  ...               0           0
...                 ...             ...  ...             ...         ...
15914                 1               0  ...               0           0
15915                 1               0  ...               0           0
15916                 1               0  ...               0           0
15917                 1               0  ...               0           0
15918                 1               0  ...               0           0

[15919 rows x 38 columns]

In [ ]:
df.head(3).T

                                                                       0  ...                                                  2
make_model                                                       Audi A1  ...                                            Audi A1
short_description            Sportback 1.4 TDI S-tronic Xenon Navi Klima  ...  Sportback 1.6 TDI S tronic Einparkhilfe plus+m...
body_type                                                         Sedans  ...                                             Sedans
price                                                              15770  ...                                              14640
vat                                                       VAT deductible  ...                                     VAT deductible
km                                                                 56013  ...                                              83450
registration                                                     01/2016  ...                                            02/2016
hp                                                                    66  ...                                                 85
Type                                                                Used  ...                                               Used
Previous Owners                                                        2  ...                                                  1
Next Inspection                                                  06/2021  ...                                                NaN
Inspection new                                                       Yes  ...                                                NaN
Warranty                                                             NaN  ...                                                NaN
First Registration                                                  2016  ...                                               2016
Body Color                                                         Black  ...                                              Black
Paint Type                                                      Metallic  ...                                           Metallic
Body Color Original                                        Mythosschwarz  ...                                      mythosschwarz
Upholstery                                                   Cloth,Black  ...                                        Cloth,Black
Nr. of Doors                                                           5  ...                                                  4
Nr. of Seats                                                           5  ...                                                  4
Gearing Type                                                   Automatic  ...                                          Automatic
Displacement                                                        1422  ...                                               1598
Cylinders                                                              3  ...                                                NaN
Weight                                                              1220  ...                                                NaN
Drive chain                                                        front  ...                                              front
Fuel                                                              Diesel  ...                                             Diesel
CO2 Emission                                                          99  ...                                                 99
Emission Class                                                    Euro 6  ...                                             Euro 6
Comfort & Convenience  Air conditioning,Armrest,Automatic climate con...  ...  Air conditioning,Cruise control,Electrical sid...
Entertainment & Media  Bluetooth,Hands-free equipment,On-board comput...  ...                              MP3,On-board computer
Extras                    Alloy wheels,Catalytic Converter,Voice Control  ...                         Alloy wheels,Voice Control
Safety & Security      ABS,Central door lock,Daytime running lights,D...  ...  ABS,Central door lock,Daytime running lights,D...
Emission Label                                                       NaN  ...                                          4,(Green)
Gears                                                                NaN  ...                                                NaN
Country version                                                      NaN  ...                                                NaN
Last Service Date                                                    NaN  ...                                                NaN
Availability                                                         NaN  ...                                                NaN
Available from                                                       NaN  ...                                                NaN
Comb                                                 3.8 l/100 km (comb)  ...                                3.8 l/100 km (comb)
City                                                 4.3 l/100 km (city)  ...                                4.4 l/100 km (city)
Country                                           3.5 l/100 km (country)  ...                             3.4 l/100 km (country)

[41 rows x 3 columns]

# Dublicates

In [ ]:
df.drop_duplicates().shape

(14507, 41)

In [ ]:
df.shape[0]-df.drop_duplicates().shape[0]

1412

In [ ]:
print(len(df.columns))
df.columns

41

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km',
       'registration', 'hp', 'Type', 'Previous Owners', 'Next Inspection',
       'Inspection new', 'Warranty', 'First Registration', 'Body Color',
       'Paint Type', 'Body Color Original', 'Upholstery', 'Nr. of Doors',
       'Nr. of Seats', 'Gearing Type', 'Displacement', 'Cylinders', 'Weight',
       'Drive chain', 'Fuel', 'CO2 Emission', 'Emission Class',
       'Comfort & Convenience', 'Entertainment & Media', 'Extras',
       'Safety & Security', 'Emission Label', 'Gears', 'Country version',
       'Last Service Date', 'Availability', 'Available from', 'Comb', 'City',
       'Country'],
      dtype='object')

In [ ]:
df.drop_duplicates()

           make_model  ...                 Country
0             Audi A1  ...  3.5 l/100 km (country)
1             Audi A1  ...  4.7 l/100 km (country)
2             Audi A1  ...  3.4 l/100 km (country)
3             Audi A1  ...  3.5 l/100 km (country)
4             Audi A1  ...  3.8 l/100 km (country)
...               ...  ...                     ...
15913  Renault Espace  ...  5.7 l/100 km (country)
15914  Renault Espace  ...  4.7 l/100 km (country)
15915  Renault Espace  ...  6.3 l/100 km (country)
15916  Renault Espace  ...  4.7 l/100 km (country)
15918  Renault Espace  ...  5.7 l/100 km (country)

[14507 rows x 41 columns]

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
#for i in range(df.shape[0]):
#  if type(df['Comfort & Convenience'][i]) == list:
#    df['Comfort & Convenience'][i] = str(df['Comfort & Convenience'][i])[1:-1].replace(", ", ",")

In [ ]:
#df['Comfort & Convenience'].str.get_dummies(",")

# Comfort & Convenience changed into Classes
920 NAN

In [ ]:
#df["Comfort & Convenience"].isnull().sum()

In [ ]:
#df[~df["Comfort & Convenience"].isnull()]["Comfort & Convenience"].apply(len).sort_values()

In [ ]:
#length = range(1,34)
#for i in range(10):
#  if type(df["Comfort & Convenience"][i]) == float:
#    pass
#  else:
#    for j in length:
#      if len(df["Comfort & Convenience"][i]) == j:
#        print(i , j, df["Comfort & Convenience"][i][:j])

In [ ]:
#df[~df["Comfort & Convenience"].isnull()]["Comfort & Convenience"].apply(lambda x : len(x))

In [ ]:
#df["Comfort & Convenience"] = df[~df["Comfort & Convenience"].isnull()]["Comfort & Convenience"].apply(lambda x : len(x))

In [ ]:
#df[~df["Comfort & Convenience"].isnull()]["Comfort & Convenience"]

In [ ]:
#pd.cut(x=df['Comfort & Convenience'], bins=list(range(0,36,5)), labels = ['Class1', 'Class2', 'Class3', 'Class4', 'Class5', 'Class6', 'Class7'])

In [ ]:
#df['Comfort & Convenience'] = pd.cut(x=df['Comfort & Convenience'], bins=list(range(0,36,5)), labels = ['Class1', 'Class2', 'Class3', 'Class4', 'Class5', 'Class6', 'Class7'])

In [ ]:
#df['Comfort & Convenience'].value_counts(dropna=False)

# Entertainment & Media 1374 NaN

In [ ]:
#df['Entertainment & Media']

In [ ]:
#df['Entertainment & Media'].isnull().sum()

In [ ]:
#df[~df['Entertainment & Media'].isnull()]['Entertainment & Media'].apply(len).value_counts()

In [ ]:
#df[~df['Entertainment & Media'].isnull()]['Entertainment & Media'].apply(len).sort_values()

In [ ]:
#df[~df['Entertainment & Media'].isnull()]['Entertainment & Media'][6051]

In [ ]:
#df['Entertainment & Media'] = df[~df['Entertainment & Media'].isnull()]['Entertainment & Media'].apply(lambda x: len(x))

In [ ]:
#pd.cut(x=df['Entertainment & Media'], bins=[0,3,6,10], labels = ['Class1', 'Class2', 'Class3'])

In [ ]:
#df['Entertainment & Media'] = pd.cut(x=df['Entertainment & Media'], bins=[0,3,6,10], labels = ['Class1', 'Class2', 'Class3'])

In [ ]:
#df['Entertainment & Media'].value_counts(dropna=False)

# Safety & Security 982 NaN

In [ ]:
#df["Safety & Security"]

In [ ]:
#df["Safety & Security"].isnull().sum()

In [ ]:
#pd.DataFrame(df[~df["Safety & Security"].isnull()]["Safety & Security"].apply(len).value_counts()).sort_index()

In [ ]:
#df["Safety & Security"] = df[~df["Safety & Security"].isnull()]["Safety & Security"].apply(len)

In [ ]:
#pd.cut(df["Safety & Security"], bins=[0,5,10,14,18,24,30], labels=['Class1', 'Class2', 'Class3', 'Class4', 'Class5', 'Class6'])

In [ ]:
#df["Safety & Security"] = pd.cut(df["Safety & Security"], bins=[0,5,10,14,18,24,30], labels=['Class1', 'Class2', 'Class3', 'Class4', 'Class5', 'Class6'])

In [ ]:
#df["Safety & Security"].value_counts(dropna=False)

# Extras 2962 NaN

In [ ]:
#df[~df["Extras"].isnull()]["Extras"].apply(len).value_counts()

In [ ]:
#df["Extras"] = df[~df["Extras"].isnull()]["Extras"].apply(len)

In [ ]:
# pd.cut(df["Extras"], bins=list(range(0,11,2)), labels=['Class1', 'Class2', 'Class3', 'Class4', 'Class5'])

In [ ]:
#pd.cut(df["Extras"], bins=list(range(0,11,2)), labels=['Class1', 'Class2', 'Class3', 'Class4', 'Class5']).value_counts()

In [ ]:
#df["Extras"] = pd.cut(df["Extras"], bins=list(range(0,11,2)), labels=['Class1', 'Class2', 'Class3', 'Class4', 'Class5'])

In [ ]:
#df["Extras"].value_counts(dropna=False)

# load DAta

In [ ]:
#df.to_json("scout_carV1.json")

In [ ]:
#df1 = pd.read_json("/content/drive/MyDrive/Colab Notebooks/scout_car1.json")

# empty

In [29]:
df['Previous Owners'].value_counts(dropna=False)

1      8294
NaN    6640
2       778
0       188
3        17
4         2
Name: Previous Owners, dtype: int64

In [ ]:
for i in range(len(df['km'])):
    if (df['Previous Owners'][i] == 0) & (df['price'][i] >=20000) :
        df['km'][i] = df[(df['Previous Owners'] == 0) & (df['price']>=20000)]['km'].fillna(round(df[(df['Previous Owners'] == 0) &(df['price'] >20000)]['km'].mean()))
    elif (df['Previous Owners'][i] == 0) & (df['price'][i] <20000) :
        df['km'][i] = df[(df['Previous Owners'] == 0) & (df['price']<20000)]['km'].fillna(round(df[(df['Previous Owners'] == 0) &(df['price'] <20000)]['km'].mean()))
    elif (df['Previous Owners'][i] > 0) & (df['price'][i] >=20000) :
        df['km'][i] = df[(df['Previous Owners'] > 0) & (df['price'] >=20000)]['km'].fillna(round(df[(df['Previous Owners'] > 0) &(df['price'] >20000)]['km'].mean()))
    elif (df['Previous Owners'][i] > 0) & (df['price'][i] <20000) :
        df['km'][i] = df[(df['Previous Owners'] > 0) & (df['price'] <20000)]['km'].fillna(round(df[(df['Previous Owners'] > 0) &(df['price'] <20000)]['km'].mean()))
    else : pass

In [ ]:
for i in range(len(df['km'])):
    if (df['Previous Owners'][i] == 0) & (df['price'][i] >=20000) :
      df.loc[i, "km"] = df[(df['Previous Owners'] == 0) & (df['price']>=20000)]['km'].mean()
    elif (df['Previous Owners'][i] == 0) & (df['price'][i] <20000) :
      df.loc[i, "km"] = df[(df['Previous Owners'] == 0) & (df['price']<20000)]['km'].mean()
    elif (df['Previous Owners'][i] > 0) & (df['price'][i] >=20000) :
      df.loc[i, "km"] = df[(df['Previous Owners'] > 0) & (df['price'] >=20000)]['km'].mean()
    elif (df['Previous Owners'][i] > 0) & (df['price'][i] <20000) :
      df.loc[i, "km"] = df[(df['Previous Owners'] > 0) & (df['price'] <20000)]['km'].mean()
    else:
      pass